<section class="serviceDetails section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h2>{{title}}</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" dynamicHeight="true">

        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/cms1.png" alt="" />

                <h5>CMS Web Design</h5>
            </ng-template>

            <h3>CMS Web Design</h3>
            <p>
                State-of-the art web application development with unprecedented quality. We offer you interactive and user-friendly user experience in your web applications allowing to you to up your app usability and performance. Hire our creative designers and developers now.   
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/cms2.png" alt="" />
                <h5>CMS Website Development</h5>
            </ng-template>

            <h3>CMS Website Development</h3>
            <p>
                We are an expert CMS development company that brings you the scalability and performance in your web applications. get powerful and user-friendly web application built to empower your business with relevant features and ease of customization.  
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/cms3.png" alt="" />

                <h5>CMS Customization</h5>
            </ng-template>

            <h3>CMS Customization</h3>
            <p>
                Add more functionality and feature-richness. Get an easy upgrade on your current CMS websites allowing you to have a thematic design, customized features in your websites and applications. We help you from development to deployment of your website.   
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/cms4.png" alt="" />
                <h5>Custom CMS Integration</h5>
            </ng-template>

            <h3>Custom CMS Integration</h3>
            <p>
                Get a robust and dependable CMS system integrated to your current website. Our web developers give you seamless content management system software integration to your websites allowing you always staying ahead of your industrial curve   
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/cms5.png" alt="" />
                <h5>CMS Migration</h5>
            </ng-template>

            <h3>CMS Migration</h3>
            <p>
                We help you migrate to a more efficient CMS applications without disturbing your current processes. We help you in moving your existing web database to a whole new platform in a very secure way. With us you able to make shift your valuable database securely    
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/cms6.png" alt="" />
                <h5>CMS Support & Maintenance</h5>
            </ng-template>

            <h3>CMS Support & Maintenance</h3>
            <p>
                Get a reliable team for CMS Development helping you in maintaining your website and applications. We give you 3600 CMS support and maintenance services allowing you to lavish round the clock support on call or email with instant resolutions    
            </p>
        </mat-tab>
        
    </mat-tab-group>
</section>