@import "~../app.component.scss";

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* CSS правила для retina */
}

@mixin drop {
    @include transition(opacity $animation-speed linear);
    @include respond-to("small") {
        position: relative;
        box-shadow: none;
        border: 0;
    }

    opacity: 1;
    display: block;
    visibility: visible;
    border: $border;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;

    &.multi {
        display: flex;
        padding: 10px 20px;

        ul {
            li {
                a {
                    padding-left: 0;
                }
            }
        }
    }

    li {
        display: block;
        line-height: 30px;

        a {
            font-size: 13px;
            line-height: 1.1;
            padding: 12px 18px;
            text-transform: none;
            font-weight: 400;
            color: $primary-color;
            font-family: $second-font-family;

            &:hover {
                color: $hoverColor;
            }
        }
    }
}

:host {
    display: block;
    position: relative;
}
.active {
    color: $btnFirstColor !important;
}

.stuck_menu {
    @include respond-to("small") {
        background: $lightColor;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
    }

    top: -145px;
}

.header-sticky {
    @include transition(top 0.8s ease-in-out);

    width: 100%;
    top: 0;
    background-color: $lightColor !important;
    position: fixed;
    box-shadow: 0 12px 6px rgba(0, 0, 0, 0.06);
    padding-bottom: 10px;

    #logo {
        font-size: 20px;
    }
}

%boxsizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.logo {
    @include transition(all $animation-speed linear);

    float: left;
    font-size: 28px;
    position: relative;
    z-index: 1;

    img {
        height: 74px;
        width: auto;
    }
}

.menuzord {
    display: block;
    @include respond-to("small") {
        display: none;
    }
    &-burger {
        display: none;
        @include respond-to("small") {
            display: block;
        }
    }
    @extend %boxsizing;

    width: 100%;
    float: left;
    position: relative;

    * {
        @extend %boxsizing;
    }

    a {
        @include transition(color $animation-speed linear);
        @include transition(background $animation-speed linear);

        img {
            max-height: 70px;
        }
    }

    /* 3 - MENU */
    &-brand {
        margin: 0 30px 0 0;
        float: left;
        color: $primary-color;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3;
        cursor: pointer;
    }

    &-menu {
        @include respond-to("small") {
            background: $lightColor;
            position: fixed;
            z-index: 10;
            width: 100%;
            left: 0;
            top: 0;
            visibility: hidden;
            padding-top: 50px;
            padding-bottom: 50px;
            height: 100vh;
        }

        margin: 0;
        padding: 0;
        float: right;
        list-style: none;
        overflow: hidden;
        overflow-y: auto;

        & > li {
            @include respond-to("small") {
                display: block;
            }

            display: inline-block;

            &.active > a,
            &:hover > a {
                color: $hoverColor;
            }

            &.dropdown {
                a {
                    text-transform: uppercase;

                    &.active,
                    &:hover {
                        color: $hoverColor;
                    }
                }
            }

            a {
                @include respond-to("medium") {
                    padding: 20px 6px;
                }

                @include respond-to("small") {
                    padding: 17px 10px;
                    font-size: 14px;
                }

                padding: 26px 16px;
                font-family: $third-font-family;
                display: inline-block;
                text-decoration: none;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                color: $darkGrey;
                outline: 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;

                &.active,
                &:hover {
                    color: $hoverColor;
                    @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
                        color: $btnThirdColor33333;
                    }
                }
            }

            .burger {
                @include drop();
            }

            @media (min-width: 768px) {
                overflow: hidden;
                &:hover {
                    .dropdown {
                        @include drop();
                    }
                }
            }
        }
    }

    ul.dropdown {
        list-style: none;
        margin: 0;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 99;
        min-width: 180px;
        white-space: nowrap;
        background: $lightColor;

        @include respond-to("small") {
            visibility: visible;
            display: none;
        }

        li {
            ul.dropdown {
                @extend .dropdown;
            }
        }
    }
}

.header-extras {
    float: right;
    z-index: 201;
    padding-left: 4px;
    margin-left: 14px;
    line-height: 74px;
    display: none;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: left;
            margin-left: 20px;
            border: 0;
        }
    }
}

.topbar-dropdown {
    color: $primary-color;
    float: left;
    font-size: 13px;
    font-weight: 400;

    a:not(.btn),
    .title {
        font-family: $third-font-family;
        font-size: 12px;
        position: relative;
        display: block;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 700;

        i {
            font-size: 14px;
            position: relative;

            &::nth-of-type(2) {
                visibility: hidden;
                position: absolute;
            }
        }

        &.toggle-active {
            i {
                &::nth-of-type(2) {
                    visibility: visible;
                    position: relative;
                }

                &::nth-of-type(1) {
                    visibility: hidden;
                    position: absolute;
                }
            }
        }
    }

    .btn {
        font-size: 13px;
        line-height: 1.3;
        margin-bottom: 0;
    }

    .title {
        line-height: inherit !important;
        letter-spacing: 1px;
        padding: 0;
        color: $darkGrey;
    }

    &:hover {
        .dropdown-list {
            opacity: 1;
            transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            visibility: visible;
        }
    }

    .dropdown-list {
        @include transition(all 300ms ease-out);

        right: -10px;
        margin-top: -12px;
        position: absolute;
        width: auto;
        left: auto;
        top: auto;
        border-radius: 3px;
        background-color: $lightColor;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: $border;
        padding: 0 16px;
        text-align: left;
        opacity: 0;
        transform-origin: 50% 0% 0;
        -moz-transform-origin: 50% 0% 0;
        -webkit-transform-origin: 50% 0% 0;
        -ms-transform-origin: 50% 0% 0;
        z-index: 1;
        visibility: hidden;

        .list-entry {
            text-transform: none;
            font-weight: 400;
            line-height: 30px;
            white-space: nowrap;
            display: block;
            color: inherit;
            padding: 2px 0;

            &:hover {
                color: lighten($darkGrey, 10%);
            }
        }

        &::before {
            content: " ";
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid $lightColor;
            top: -9px;
            right: 34px;
            position: absolute;
        }
    }
}

.sticky {
    background: $lightColor;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    @include respond-to("small") {
        display: flex;
    }

    display: none;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;

    & > span,
    & > span::before,
    & > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        transition-duration: 0.25s;
    }

    span::before {
        content: "";
        top: -8px;
    }

    span::after {
        content: "";
        top: 8px;
    }
}

.menuzord-menu {
    transition-duration: 0.25s;
}

.menu__item {
    transition-duration: 0.25s;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menuzord-menu {
    visibility: visible;
    left: 0;
}