<div id="header-wrap" class="stuck_menu" [ngClass]="{'header-sticky': windowScrolled}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="menuzord" class="menuzord">
                    <!--Logo-->
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                      <span></span>
                    </label>
                    <a id="logo" routerLink="/" class="logo menuzord-brand" data-dark-logo="assets/images/logo-dark.png">
                        <img src="assets/images/logo.png" alt="Polo Logo">
                    </a>
                    <!--End: Logo-->
                    <!--Header Extras-->
                    <div class="header-extras">
                        <ul>

                            <li>
                                <div class="topbar-dropdown">
                                    <a class="title"><i class="ion-android-globe"></i></a>
                                    <div class="dropdown-list">
                                        <a class="list-entry" href="">Русский</a>
                                        <a class="list-entry" href="">English</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--end: Header Extras-->
          

                    <nav class="menuzord-menu">
                        <li  >
                            <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                                true}" >Home</a>
                           
                        </li>
                        <li >
                            <a routerLink="/services" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                                true}">Services</a>
                        </li>
                      
                        <li >
                            <a routerLink="/expertises" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                                true}">Expertises</a>
                            <ul class="dropdown multi">
                                <li>Bussines solutions
                                    <ul>    
                                         <li><a href="">Web and Enterprise Portals</a></li>
                                        <li><a href="">Enterprise Mobile Apps</a></li>
                                        <li><a href="">Ecommerce</a></li>
                                        <li><a href="">Social Networking</a></li>
                                        <li><a href="">Business Process Automation</a></li>
                                    </ul>
                                </li>
                                <li>Development stack
                                        <ul>    
                                                <li><a href="">Open Source</a></li>
                                               <li><a href="">Mobile platforms</a></li>
                                               <li><a href="">NodeJS</a></li>
                                               <li><a href="">Cloud Technologies</a></li>
                                           </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <a>Engagement Models</a>
                                <ul class="dropdown">
                                                <li><a href="">Project-based Outsourcing</a></li>
                                               <li><a href="">Dedicated Team</a></li>
                                               <li><a href="">Skills Augmentation</a></li>
                                           </ul>
                        </li>
                    
                        <li>
                            <a routerLink="/vacancies" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                                true}">company</a>
                            <ul class="dropdown">
                                <li><a href="">About Us</a></li>
                                <li><a href="">Vacancies</a></li>
                                <li><a href="">Process</a></li>
                       
                            </ul>
                        </li>
                        <li >
                            <a routerLink="/contacts" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                                true}">Contact</a>
                        </li>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>