<div id="header-wrap" class="stuck_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="menuzord" class="menuzord">
                    <!--Logo-->

                    <a id="logo" routerLink="/" class="logo menuzord-brand" data-dark-logo="assets/images/logo-dark.png">
                        <img src="assets/images/logo.png" alt="Polo Logo">
                    </a>
                    <!--End: Logo-->
                    <!--Header Extras-->
                    <div class="header-extras">
                        <ul>

                            <li>
                                <div class="topbar-dropdown">
                                    <a class="title"><i class="ion-android-globe"></i></a>
                                    <div class="dropdown-list">
                                        <a class="list-entry" href="">Русский</a>
                                        <a class="list-entry" href="">English</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--end: Header Extras-->
          

                    <nav class="menuzord-menu">
                        <li  >
                            <a routerLink="/" class="active" routerLinkActive="active">Home</a>
                           
                        </li>
                        <li >
                            <a routerLink="/services">Services</a>
                        </li>
                        <li >
                            <a routerLink="/solutions">Solutions</a>
                            <ul class="dropdown">
                                <li><a href="">Web Development</a></li>
                                <li><a href="">Mobile applications</a></li>
                                <li><a href="">CMS Solutions</a></li>
                                <li><a href="">E-commerce</a></li>
                                <li><a href="">Cloud Solutions</a></li>
                                <li><a href="">Business Process Automation</a></li>
                                <li><a href="">Social Networking</a></li>
                                <li><a href="">Media Content Distribution</a></li>
                            </ul>
                        </li>
                        <li >
                            <a routerLink="/expertises">Expertises</a>
                            <ul class="dropdown">
                                <li><a href="">Web</a></li>
                                <li><a href="">Mobile</a></li>
                                <li><a href="">Cloud</a></li>
                                <li><a href="">API</a></li>
                            </ul>
                        </li>
                        <li >
                            <a routerLink="/works">Work</a>
                        </li>
                    
                        <li>
                            <a routerLink="/vacancies">company</a>
                            <ul class="dropdown">
                                <li><a href="">About Us</a></li>
                                <li><a href="">Vacancies</a></li>
                                <li><a href="">Process</a></li>
                       
                            </ul>
                        </li>
                        <li >
                            <a routerLink="/contact">Contact</a>
                        </li>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>