@import "~../app.component.scss";
.menuFooter {
    >div {
        padding: 0;
        padding-right: 10px;
    }
    >div:last-child {
        padding: 0;
    }
}
.app_footer {
    @include respond-to("medium") {
        padding: 10px 0;
    }

    background: #f8f8f8;
    padding: 50px 0;

    p {
        font-size: 14px;
    }

    .footerLogo {
        // align-items: bottom;
        display: flex;
        text-align: center;
        // flex-flow: row nowrap;
        justify-content: space-between;
        .copyright {
            align-self: flex-end;
            p {
                line-height: 15px;
            }
        }

        @include respond-to("small") {
            flex-direction: column;

            li {
                text-align: center;
                padding: 5px 0;
            }
            .copyright {
                align-self: center;
            }

            img {
                width: 60px;
            }
        }
    }

    .order-1 {
        align-items: bottom;
        display: flex;
    }

    .social_icon {
        align-self: flex-end;
        text-align: right;
        width: 100%;
        font-family: $primary-font-family;

        li {
            color: $primary-color;
            font-size: 15px;
            margin-left: 15px;
            display: inline-block;

            a {
                color: $primary-color;
                font-size: 18px;

                &:hover {
                    color: $btnThirdColor;
                }
            }
        }

        li:first-child {
            margin-left: 0;
        }
    }
}

.footer-light {
    background-color: #f7f7f7;
    border-top: 1px solid #e5e5e5;
    color: $primary-color !important;

    a {
        color: $primary-color;

        &:hover {
            color: $btnThirdColor;
        }
    }
}

.overlay {
    @include respond-to("small") {
        display: none;
    }

    background: $borderColor;
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.widget {
    ul {
        @include respond-to("small") {
            margin-bottom: 20px;
        }
    }
    .ulContact {
        margin-top: -5px;
    }

    .widget-title,
    & > h4 {
        @include respond-to("small") {
            margin-bottom: 10px;
        }

        font-family: $primary-font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.71;
        letter-spacing: 1px;
        margin-bottom: 28px;
    }
}

.list-icon {
    font-size: 13px;

    i {
        font-size: 17px;
        display: inline;
        margin-right: 10px;
        position: relative;
        top: 3px;
    }
}

.footer-content {
    @include respond-to("small") {
        padding: 30px 0 0px 0;
        text-align: center;
    }

    padding: 60px 0 40px 0;
    border-bottom: $border;
}
