<h3 class="contact_title  ">Get Your Dream Job</h3>
<div class="abform_area ">

    <form class="text-center pos_relative vacanciesForm" #formDirective="ngForm" [formGroup]="myForm"
        (ngSubmit)="submit(myForm,formDirective)">

        <mat-form-field class="form-group abinput_group name">
            <mat-label for="name">FullName</mat-label>
            <input matInput required formControlName="name" id="name" type="text" class="form-control">
            <mat-error *ngIf="f.name.touched && f.name.invalid && f.name.errors.required">Name is required.
            </mat-error>
            <mat-error *ngIf="f.name.touched && f.name.invalid && f.name.errors.minlength">Name should be 3
                character.</mat-error>
        </mat-form-field>

        <mat-form-field class="form-group abinput_group email">
            <mat-label for="email">Email</mat-label>
            <input matInput required formControlName="email" id="email" type="text" class="form-control">
            <mat-error *ngIf="f.email.touched && f.email.invalid  &&  f.email.errors.required">Email is
                required.</mat-error>
            <mat-error *ngIf="f.email.touched && f.email.invalid  &&  f.email.errors.email">Email is not correct.
            </mat-error>
            <mat-error *ngIf="f.email.touched && f.email.invalid && f.email.errors.minlength">Email should not be less
                than 3 character.</mat-error>
        </mat-form-field>



        <mat-form-field class="form-group abinput_group phone">
            <mat-label for="phone">Phone</mat-label>
            <!-- <span matPrefix>+ &nbsp;</span> -->
            <input matInput required formControlName="phone" id="phone" type="tel" class="form-control">
            <mat-error *ngIf="f.phone.touched && f.phone.invalid && f.phone.errors.required">Phone is
                required.
            </mat-error>
            <mat-error *ngIf="f.phone.touched && f.phone.invalid && f.phone.errors.minlength">Phone should be not less
                than 8 numbers </mat-error>
            <mat-error *ngIf="f.phone.touched && f.phone.invalid && f.phone.errors.maxlength">Phone should be not more
                than 14 numbers </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group abinput_group msg">
            <mat-label for="message">Cover Letter</mat-label>
            <textarea matInput required formControlName="message" id="message" type="text"
                class="form-control textarea"></textarea>
            <mat-error *ngIf="f.message.touched && f.message.invalid && f.message.errors.required">Message
                is
                required.</mat-error>
            <mat-error *ngIf="f.message.touched && f.message.invalid && f.message.errors.minlength">not less
                then
                40 letters</mat-error>

        </mat-form-field>

        <div>
            <input  formControlName="file" id="file" type="file" class="inputfile form-control"
                (change)="onFileChange($event)">
            <label for="file" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                class="my-drop-zone">
                <i class="ion-ios-upload-outline"></i>Upload file (5mb)</label>
            <div *ngIf="fileSizeError" class="alert alert-danger">
                <P>Size is too large, no more than 5mb</P>
            </div>
            <div *ngIf="needToploadFile" class="alert alert-danger">
                <P>You nedd to upload file</P>
            </div>
        </div>
        <div *ngIf="isFileUpload" class="filesList">
            <ul>
                <li>
                    <p>{{file.name}}</p>
                    <button type="button" (click)="deleteFile()">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256
                               C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216
                               c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0
                               L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256
                               l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302
                               c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z" />
                                </g>
                            </g>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>


        <button type="submit" color="info" outline="true" rounded="true" block="true" class="btnSubmit"
            [ngClass]="{'notActive':  myForm.status === 'INVALID'}">
            <i class="ion-ios-navigate"></i>
        </button>

        <div *ngIf="sendSuccess" class="successPopover" [ngClass]="{messageActive: successPopover}">Mesasge was sent
            successfully
        </div>
        <div *ngIf="isError" class="errorPopover" [ngClass]="{messageActive: errorText}">{{errorText}}</div>
        <div *ngIf="fileSizedOverloaded" [ngClass]="{messageActive: errorText}">File sized overloaded Max is 5mb</div>


    </form>


</div>