@import "../../../contactPage/requestForm/requestForm.component.scss";

.contact_title {
    margin-bottom: 30px;
}
.abform_area {
    .vacanciesForm {
        padding-bottom: 60px;
        .abinput_group {
            width: 100%;
        }
        input {
            padding: 10px 22px;
            width: 100%;
            // background: none;
            color: $darkGrey;
            // border: none !important;
            // padding-left: 0;
            font-family: $primary-font-family;
            // background: $lightgreyBg;
        }
        label {
            font-size: 16px;
            color: $lightGrey;
            font-family: $primary-font-family;
            top: 1.84375em;
            transition: all 1s ease-out;
            line-height: 16px;
        }
        .activeInput {
            // background-color: red;
            // font-size: 12px;
            transform: scale(0.8);
        }
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        & + label {
            font-size: 1.25em;
            font-weight: 700;
            color: $primary-color;
            border: $border;
            padding: 10px;
            display: inline-block;
            width: 100%;

            i {
                font-size: 34px;
                color: $btnFirstColor;
                margin-right: 15px;
                display: inline-block;
            }
        }
    }

    .inputfile + label {
        font-weight: 500;
        font-size: 15px;
        justify-content: center;
        display: flex;
        padding: 0 10px;
        height: 60px;
        line-height: 60px;

        &:hover {
            border-color: $btnFirstColor;
            cursor: pointer;
        }
    }

    .form-control:focus {
        background: none;
    }

    textarea {
        @extend input;
        resize: none;
        height: 120px;
    }
    .filesList {
        ul {
            display: flex;
            li {
                text-overflow: ellipsis;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            button {
                border: none;
                background: none;
                height: 20px;
            }
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .btnSubmit {
        padding: 0;
        @include transition(color $animation-speed linear);
        border: none;
        margin: 0;
        background: transparent;
        bottom: -20px;
        color: $btnFirstColor;
        font-size: 80px;
        height: 80px;
        position: absolute;
        right: 20px;
        @include respond-to("small") {
            right: 10px;
        }
        &:hover {
            color: $btnSecondColor;
        }
    }
    .notActive {
        padding: 0;
        @include transition(color $animation-speed linear);
        border: none;
        margin: 0;
        background: transparent;
        bottom: -20px;

        font-size: 80px;
        // height: auto;
        position: absolute;
        right: 20px;
        color: $primary-color;
        &:hover {
            color: $primary-color;
        }
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5000;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    &__wrapper {
        width: 60px;
        height: 60px;
        position: relative;
    }
    &__item {
        position: absolute;
        width: 6px;
        height: 20px;
        border-radius: 3px;
        animation: loading;
        animation-duration: 1.2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &--1 {
            top: 0;
            left: calc(50% - 3px);
        }
        &--2 {
            top: 4%;
            right: 28%;
            transform: rotate(30deg);
            animation-delay: 0.1s;
        }
        &--3 {
            top: 17%;
            right: 17%;
            transform: rotate(60deg);
            animation-delay: 0.2s;
        }
        &--4 {
            height: 6px;
            width: 20px;
            right: 0;
            top: calc(50% - 3px);
            animation-delay: 0.3s;
        }
        &--5 {
            bottom: 17%;
            right: 17%;
            transform: rotate(120deg);
            animation-delay: 0.4s;
        }
        &--6 {
            bottom: 4%;
            right: 28%;
            transform: rotate(150deg);
            animation-delay: 0.5s;
        }
        &--7 {
            bottom: 0;
            left: calc(50% - 3px);
            animation-delay: 0.6s;
        }
        &--8 {
            bottom: 4%;
            left: 28%;
            transform: rotate(-150deg);
            animation-delay: 0.7s;
        }
        &--9 {
            bottom: 17%;
            left: 17%;
            transform: rotate(-120deg);
            animation-delay: 0.8s;
        }
        &--10 {
            height: 6px;
            width: 20px;
            left: 0;
            top: calc(50% - 3px);
            animation-delay: 0.9s;
        }
        &--11 {
            top: 17%;
            left: 17%;
            transform: rotate(-60deg);
            animation-delay: 1s;
        }
        &--12 {
            top: 4%;
            left: 28%;
            transform: rotate(-30deg);
            animation-delay: 1.1s;
        }

        @keyframes loading {
            10% {
                background-color: lighten(#000000, 10%);
            }
            20% {
                background-color: lighten(#000000, 20%);
            }
            30% {
                background-color: lighten(#000000, 30%);
            }
            40% {
                background-color: lighten(#000000, 40%);
            }
            50% {
                background-color: lighten(#000000, 50%);
            }
            60% {
                background-color: lighten(#000000, 60%);
            }
            70% {
                background-color: lighten(#000000, 70%);
            }
            80% {
                background-color: lighten(#000000, 80%);
            }
            90% {
                background-color: lighten(#000000, 90%);
            }
            100% {
                background-color: lighten(#000000, 100%);
            }
        }
    }
}