<section class="section_padding">


<div class="container">
    
    <div class=row>
        <div class="col-lg-8 job">
            <div class="jobTitle">
                <span routerLink="{{'/vacancies'}}"  class="backBtn text-center ion-ios-arrow-thin-left"></span>
                <h2>{{vacancy.role}} </h2>
            </div>

            <div class="jobOptions">
                <h4>Description:</h4>
                <p>{{vacancy.description}}</p></div>

            <div class="jobOptions">
                <h4>Requirements:</h4>
                <ul class="skillsList">
                    <li *ngFor="let req of vacancy.skills">
                       <p>{{req}}</p>
                    </li>
                </ul>
            </div>
            <div class="jobOptions">
                <h4>Respon:</h4>
                <ul class="skillsList">
                    <li *ngFor="let req of vacancy.skills">
                       <p>{{req}}</p>
                    </li>
                </ul>
            </div>

            <div class="jobOptions">
                    <h4>Nice to have skills:</h4>
                    <ul class="skillsList">
                        <li *ngFor="let reqPlus of vacancy.skillsPlus">
                           <p>{{reqPlus}}</p>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col-lg-4 applyForm">
            <sf-applyForm></sf-applyForm>
        </div>
    </div>
</div>
</section>