@import "../app.component.scss";
.benefits{
    &-sec{
        position: relative;
        padding: 30px 0;
        &::before {
            content: '';
            
            display: block;
            z-index: -1;
            
            background: lighten($lightgreyBg, 5%);
            position: absolute;
            
            border-radius: 0 430px 0 0;
            top: 55px;
            background: rgb(239, 244, 252);
            background: -moz-linear-gradient(top, rgba(239, 244, 252, 1) 1%, rgba(255, 255, 255, 1) 32%);
            background: -webkit-linear-gradient(top, rgba(239, 244, 252, 1) 1%, rgba(255, 255, 255, 1) 32%);
            background: linear-gradient(to bottom, rgba(239, 244, 252, 1) 1%, rgba(255, 255, 255, 1) 32%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff4fc', endColorstr='#ffffff', GradientType=0);
            
            -webkit-transform: rotate(-9deg);
            -ms-transform: rotate(-9deg);
            -o-transform: rotate(-9deg);
            transform: rotate(-9deg);
            
            right: -170px;
            width: 200%;
            height: 400%;
            left: inherit;
        }
    }
    &-box{
        align-self: stretch;
        background: $lightColor;
        border-top: 3px solid $btnThirdColor;
        height: 100%;
        padding: 15px;
    }
}
.solutions{
    display: flex;
    align-items: stretch;
    
}
.solution{
    border: $border;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 20px 10px;
    position: relative;
    &Title{
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        &::before{
            content: '';
            width:50px;
            display: block;
            border-bottom: 3px solid $btnThirdColor;
            margin-bottom: 10px;

        }
    }

    &Desc{
        position: relative;
    }

    .imageOverlay{
        opacity: 0;
        @include transition(opacity 0.3s ease-in-out);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &::after{
            @extend .imageOverlay;
            content: '';
            @include backgroundGradient(45deg, rgb(30, 223, 196) 0%, rgb(39, 133, 230) 100%);
        }
    }

    &:hover{
        color: $lightColor;
        .imageOverlay{
             opacity: 1;
             &::after{
                opacity: 0.7;
             }

        }
        .solutionTitle{
            &::before{
                visibility: hidden;
            }
        }
        .solutionDesc{
            color: $lightColor;
        }
       
    }
}