<sf-banner [title]="title" [text]="textBanner"></sf-banner>
<div class="container solutions">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/portals">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'rectangle-24.png)'}"></div>
                <h5 class="solutionTitle">Web and Enterprise Portals</h5>
                <p class="solutionDesc">Be it a specific vertical or horizontal enterprise solution, Iflexion has a
                    rich skillset to develop turnkey web portals boosting your business performance and customer
                    satisfaction.</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/social">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'soc_network.jpg)'}"></div>
                <h5 class="solutionTitle">Social Networking</h5>
                <p class="solutionDesc">Iflexion creates dazzling cross-platform social experiences rooted in
                    comprehensive networking platforms, enterprise portals and web apps.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/automation">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'bp_automation.jpg)'}"></div>
                <h5 class="solutionTitle">Business Process Automation</h5>
                <p class="solutionDesc">We craft advanced BP automation software, transforming the way operations are
                    done to achieve time/effort saving and business growth.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/mobile">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'mob_app.jpg)'}"></div>
                <h5 class="solutionTitle">Enterprise Mobile Apps</h5>
                <p class="solutionDesc">iOS, Android and hybrid mobile software development</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/ecommerce">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'ecommerce.jpg)'}"></div>
                <h5 class="solutionTitle">Ecommerce</h5>
                <p class="solutionDesc">We understand that your online website store needs to be profitable. </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/cloud-tech">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'Cloud-Computing.jpg)'}"></div>
                <h5 class="solutionTitle">Cloud Technologies</h5>
                <p class="solutionDesc">With cloud services, you can harness the power of the Internet to reduce your
                    dependence on hardware and software.</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/hospital">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'Cloud-Computing.jpg)'}"></div>
                <h5 class="solutionTitle">HOSPITAL MANAGMENT SYSTEM</h5>
                <p class="solutionDesc">With cloud services, you can harness the power of the Internet to reduce your
                    dependence on hardware and software.</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/open-source">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'Cloud-Computing.jpg)'}"></div>
                <h5 class="solutionTitle">OPEN SOURCE</h5>
                <p class="solutionDesc">With cloud services, you can harness the power of the Internet to reduce your
                    dependence on hardware and software.</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/mobile-platforms">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'Cloud-Computing.jpg)'}"></div>
                <h5 class="solutionTitle">MOBILE PLATFORMS</h5>
                <p class="solutionDesc">With cloud services, you can harness the power of the Internet to reduce your
                    dependence on hardware and software.</p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="solution" routerLink="/expertises/javascript">
                <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'Cloud-Computing.jpg)'}"></div>
                <h5 class="solutionTitle">JAVASCRIPT</h5>
                <p class="solutionDesc">With cloud services, you can harness the power of the Internet to reduce your
                    dependence on hardware and software.</p>
            </div>
        </div>
    </div>
</div>
<section class="benefits-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h5>BENEFITS</h5>
                    <h2>Benefits, whatever you want !!!</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="benefits-block">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="benefits-box">
                        <h3 class="benefits-title">Data Scientists</h3>
                        <div class="benefits-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" data-name="Ebene 1" width="258" height="258" viewBox="0 0 258 258">
                                   
                                    <g>
                                      <rect class="cls-1" x="59.7" y="88.55" width="138.59" height="95.07" rx="10.6" ry="10.6"/>
                                      <path class="cls-1" d="M110.85,65.23h36.3a11.38,11.38,0,0,1,11.38,11.38V88.55a0,0,0,0,1,0,0H99.47a0,0,0,0,1,0,0V76.61A11.38,11.38,0,0,1,110.85,65.23Z"/>
                                      <g>
                                        <path class="cls-1" d="M150,143.9v-7.73a5.66,5.66,0,0,0-5.66-5.66H113.68a5.66,5.66,0,0,0-5.66,5.66v7.72"/>
                                        <path class="cls-1" d="M150,153.35a5.66,5.66,0,0,1-5.66,5.66H113.68a5.66,5.66,0,0,1-5.66-5.66v-9.46c-19.65-3.12-36.62-10.52-48.32-20.55V175a8.62,8.62,0,0,0,8.62,8.62H189.68A8.62,8.62,0,0,0,198.3,175V123.34c-11.7,10-28.67,17.43-48.32,20.56Z"/>
                                        <path class="cls-1" d="M108,143.89v9.46a5.66,5.66,0,0,0,5.66,5.66h30.64a5.66,5.66,0,0,0,5.66-5.66V143.9"/>
                                      </g>
                                      <circle class="cls-1" cx="129" cy="129" r="125"/>
                                    </g>
                                  </svg>
                        </div>
                        <p>Upload your own content and increase your digital audience.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="benefits-box">
                            <h3 class="benefits-title">Data Analytics</h3>
                        <div class="benefits-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" data-name="Ebene 1" x="0px" y="0px" width="258px" height="258px" viewBox="0 0 258 258">
                                   
                                    <g>
                                      <g>
                                        <path class="cls-1" d="M174,154.38a28.52,28.52,0,0,0,8-55.88,37,37,0,0,0-67.88-16.59,27,27,0,0,0-34.94,18.56,27.06,27.06,0,0,0,3.4,53.91Z"/>
                                        <line class="cls-1" x1="67.6" y1="193.06" x2="98.38" y2="193.06"/>
                                        <line class="cls-1" x1="160.42" y1="193.06" x2="191.2" y2="193.06"/>
                                        <line class="cls-1" x1="110.15" y1="193.06" x2="148.66" y2="193.06"/>
                                        <line class="cls-1" x1="129.32" y1="170.01" x2="129.32" y2="193.06"/>
                                      </g>
                                      <circle class="cls-1" cx="129" cy="129" r="125"/>
                                    </g>
                                  </svg>   
                        </div>
                        <p>Customized and responsive UI for the ultimate user experience.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="benefits-box">
                            <h3 class="benefits-title">Industry Expertise</h3>
                        <div class="benefits-icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46px" height="44px" viewBox="0 0 46 44" enable-background="new 0 0 46 44" xml:space="preserve" class="circleRotatorBackground-img icon">
                                    <g>
                                    <path d="M43.1,34.6l-6-6c1.7-2.8,2.6-6,2.6-9.5c0-4.2-1.4-8-3.8-11.2l3.5-4.8l-0.7,2.2C38.6,5.7,38.8,6,39,6c0,0,0.1,0,0.1,0
                                            c0.2,0,0.4-0.1,0.5-0.4l1.6-5.1c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0-0.1,0-0.2-0.1-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0-0.1,0
                                            c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0l-4.8,2.7
                                            c-0.2,0.1-0.3,0.4-0.2,0.7c0.1,0.2,0.4,0.3,0.7,0.2L39,2.1l-3.7,5.1c-3.4-4-8.4-6.5-14.1-6.5C11,0.7,2.7,9,2.7,19.2
                                            S11,37.6,21.2,37.6c2.9,0,5.5-0.7,8-1.8l6.3,6.3c1,1,2.4,1.6,3.8,1.6c1.4,0,2.7-0.5,3.8-1.6c1-1,1.6-2.3,1.6-3.8
                                            C44.6,37,44.1,35.6,43.1,34.6z M3.7,19.2c0-9.6,7.8-17.5,17.5-17.5c5.4,0,10.2,2.5,13.5,6.3l-2.1,2.9C30,7.4,25.9,5.1,21.2,5.1
                                            c-7.8,0-14.1,6.3-14.1,14.1s6.3,14.1,14.1,14.1c7.8,0,14.1-6.3,14.1-14.1c0-2.7-0.8-5.3-2.1-7.4l2.1-2.9c2.1,2.9,3.4,6.5,3.4,10.3
                                            c0,9.6-7.8,17.5-17.5,17.5S3.7,28.8,3.7,19.2z M10.6,23.3c0.2,0.2,0.5,0.1,0.7-0.1l3.9-5.4l7.6,7.2c0.1,0.1,0.2,0.1,0.3,0.1
                                            c0,0,0,0,0,0c0.1,0,0.3-0.1,0.4-0.2l9-12.3c1.1,1.9,1.8,4.2,1.8,6.5c0,7.2-5.9,13.1-13.1,13.1c-7.2,0-13.1-5.9-13.1-13.1
                                            S14,6.1,21.2,6.1c4.5,0,8.4,2.2,10.8,5.7l-8.9,12.2l-7.6-7.2c-0.1-0.1-0.2-0.1-0.4-0.1c-0.1,0-0.3,0.1-0.4,0.2l-4.2,5.9
                                            C10.4,22.9,10.4,23.2,10.6,23.3z M42.4,41.4c-1.7,1.7-4.4,1.7-6.1,0l-6.1-6.1c2.6-1.4,4.8-3.4,6.4-5.8l5.8,5.8
                                            c0.8,0.8,1.3,1.9,1.3,3.1C43.6,39.5,43.2,40.6,42.4,41.4z"></path>
                                    <path d="M4.9,30.5l-4.8,6.7c-0.2,0.2-0.1,0.5,0.1,0.7C0.3,38,0.4,38,0.5,38c0.2,0,0.3-0.1,0.4-0.2L5.7,31c0.2-0.2,0.1-0.5-0.1-0.7
                                            C5.4,30.2,5.1,30.2,4.9,30.5z"></path>
                                    </g>
                                    </svg>
                        </div>
                        <p>Integrated with latest web technologies focusing on user functionalities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>