<sf-banner [title]="title" [text]="textBanner"></sf-banner>
<div class="container solutions section_padding">
    <div class="row">
        <div class="col-lg-3">
            <div class="solution">
            <div class="imageOverlay" [ngStyle]="{'background-image': 'url(' + imageUrl + 'rectangle-24.png)'}"></div>
            <h5 class="solutionTitle">Web and Enterprise Portals</h5>
            <p class="solutionDesc">Be it a specific vertical or horizontal enterprise solution, Iflexion has a rich skillset to develop turnkey web portals boosting your business performance and customer satisfaction.</p>
            </div>
        </div>
   
        <div class="col-lg-3">
                <div class="solution">
            <span><i class=""></i></span>
            <h5 class="solutionTitle">Social Networking</h5>
            <p class="solutionDesc">Iflexion creates dazzling cross-platform social experiences rooted in comprehensive networking platforms, enterprise portals and web apps.</p>
            </div>
        </div>
        <div class="col-lg-3">
                <div class="solution">
            <span><i class=""></i></span>
            <h5 class="solutionTitle">Business Process Automation</h5>
            <p class="solutionDesc">We craft advanced BP automation software, transforming the way operations are done to achieve time/effort saving and business growth.</p>
            </div>
        </div>
        <div class="col-lg-3">
                <div class="solution">
            <span><i class=""></i></span>
            <h5 class="solutionTitle">Enterprise Mobile Apps</h5>
            <p class="solutionDesc">iOS, Android and hybrid mobile software development</p>
            </div>
        </div>
        <div class="col-lg-3">
                <div class="solution">
            <span><i class=""></i></span>
            <h5 class="solutionTitle">Ecommerce</h5>
            <p class="solutionDesc">We understand that your online website store needs to be profitable. </p>
            </div>
        </div>
      
        <div class="col-lg-3">
                <div class="solution">
            <span><i class=""></i></span>
            <h5 class="solutionTitle">Cloud Technologies</h5>
            <p class="solutionDesc">With cloud services, you can harness the power of the Internet to reduce your dependence on hardware and software.</p>
            </div>
        </div>
    </div>
</div>
<section class="benefits-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h5>BENEFITS</h5>
                    <h2>Benefits, whatever you want !!!</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="benefits-block">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="benefits-box">
                        <div class="benefits-icon">
                            <img src="https://d1i2cp4a5c819e.cloudfront.net/wp-content/uploads/2020/01/ic-solutions-digital-content-management-system-1.svg"></div>
                        <p>Subscribe and get an easy access to unlimited movies and tv series.</p>
                    </div>
                </div>
                <!---->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="benefits-box">
                        <div class="benefits-icon">
                            <img src="https://d1i2cp4a5c819e.cloudfront.net/wp-content/uploads/2020/01/ic-solutions-business-automation-3.svg"></div>
                        <p>Upload your own content and increase your digital audience.</p>
                    </div>
                </div>
                <!---->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="benefits-box">
                        <div class="benefits-icon">
                            <img src="https://d1i2cp4a5c819e.cloudfront.net/wp-content/uploads/2020/01/ic-solutions-digital-content-management-system-2.svg"></div>
                        <p>Customized and responsive UI for the ultimate user experience.</p>
                    </div>
                </div>
                <!---->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="benefits-box">
                        <div class="benefits-icon"><img src="https://d1i2cp4a5c819e.cloudfront.net/wp-content/uploads/2020/01/ic-solutions-digital-content-management-system-3.svg"></div>
                        <p>Integrated with latest web technologies focusing on user functionalities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>