<div class="container-fluid social">
    <div class="row heading">
        <div class="col-12">
            <div class="section_title text-center">
                <h5>Social Networking</h5>
                <h2>Turn Your Business Into a Social Destination with Stableflow </h2>
                <span class="line"></span>
                <p class="contentText">StableFlow enables companies to capitalize on the density of interactions between
                    businesses and people. We
                    embed a social dimension in digital experiences by leveraging social media integration, the
                    architecture
                    of participation, social collaboration tools and networking techniques from the start.</p>
            </div>
        </div>
    </div>

    <div class="row phases justify-content-center">
        <div class="col-12 col-lg-3 phaseText">

            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <img src="/assets/images/enterprises/development.svg" alt="card1_icon">
                    <div class="col-6 col-lg-12">
                        <h4>CONNECT</h4>
                        <p>We offer a full range of technological solutions to expose your business to massive social
                            media
                            audiences, from simple social login and social media publishing integration to full-sized
                            social CRM
                            solutions for tracking, monitoring and benchmarking social media communications.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-1 cross">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="col-12 col-lg-3 phaseText">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <img src="/assets/images/enterprises/integration.svg" alt="card1_icon">
                    <div class="col-6 col-lg-12">
                        <h4>ENGAGE</h4>
                        <p>Engage extensive online communities and crowdsource ideas with social networking features,
                            shoppable functionality, in-network games and other custom systems for in-network
                            interaction. We also
                            offer development of advanced social media intelligence, user segmentation solutions and
                            back-office engines.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-1 cross">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="col-12 col-lg-3 phaseText">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <img src="/assets/images/enterprises/optimization.svg" alt="card1_icon">
                    <div class="col-6 col-lg-12">
                        <h4>CONNECT</h4>
                        <p>We offer a full range of technological solutions to expose your business to massive social
                            media audiences, from simple social login and social media publishing integration to
                            full-sized
                            social CRM solutions for tracking, monitoring and benchmarking social media communications.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
<section class="container">
    <div class="row  description">
        <div class="col-12">
                <div class="section_title text-center">
                        <h5>from  idea to success</h5>
                        <h2>Social  Networking & Comunity Portals</h2>
                        <span class="line"></span>
                    </div>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12 content-column balls">
         
            <p class="contentText">We offer a proper framework for innovative social media startup projects, placing the
                concept of social
                networking at the heart of the solution and aligning our best development practices around the
                breakthrough business models you suggest.</p>
                
                <img src="/assets/images/enterprises/support-1.png" alt="" />
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12 inner-column">
                <div id="content_block_23">
                    <div class="inner-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 feature-column">
                                <div class="feature-block-one js-tilt" style="will-change: transform; transform: perspective(700px) rotateX(0deg) rotateY(0deg);">
                                    <div class="inner-box">
                                        <div class="hover-content"></div>
                                        <div class="icon-box"><i class="flaticon2-innovation"></i></div>
                                        <h3><a href="#">Idea</a></h3>
                                        <div class="text">Draw upon extensive business analysis and proof-of-concept (POC) development expertise to thoroughly
                                                investigate into your groundbreaking idea or assure fundraising success.</div>
                                    </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 620px; height: 620px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                                <div class="feature-block-one js-tilt" style="will-change: transform; transform: perspective(700px) rotateX(0deg) rotateY(0deg);">
                                    <div class="inner-box">
                                        <div class="hover-content"></div>
                                        <div class="icon-box"><i class="flaticon2-graphic-design"></i></div>
                                        <h3><a href="#">Design</a></h3>
                                        <div class="text">By getting seasoned UX experts and software architects work on your project, you assure that, when
                                                implemented, the solution delivers unique experiences across all digital touchpoints and flawlessly
                                                handles the exponentially scaling loads.</div>
                                    </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 620px; height: 620px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 feature-column">
                                <div class="feature-block-one js-tilt">
                                    <div class="inner-box">
                                        <div class="hover-content"></div>
                                        <div class="icon-box"><i class="flaticon2-chip"></i></div>
                                        <h3><a href="#">Technology</a></h3>
                                        <div class="text">Raasoft is flexible to evaluate a number of options to offer you several platforms depending on the
                                                project size, objectives and your technology preferences. For social software, Raasoft favors PHP.</div>
                                    </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 620px; height: 620px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                                <div class="feature-block-one js-tilt">
                                    <div class="inner-box">
                                        <div class="hover-content"></div>
                                        <div class="icon-box"><i class="flaticon2-project"></i></div>
                                        <h3><a href="#">Implementation</a></h3>
                                        <div class="text">With dozens of successfully delivered niche social networking solutions under our belt, we set up
                                                full-fledged development teams with domain experts on board to transform your vision into a compelling
                                                app.</div>
                                    </div>
                                <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 620px; height: 620px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
    </div>
</section>
    <div class="row mobile section_padding">
        <div class="col-12">
            <h2>MOBILE SOCIAL NETWORKS</h2>
            <p class="contentText">While web serves as the primary source for content discovery, payment details entry,
                onboarding and deep
                browsing, mobile apps are forerunners for social transactions, repeat engagement, and intermittent,
                recurrent checks for notifications and updates. </p>
            <p class="contentText">Armed with core web backend development expertise, and stretching further to cover
                cross-platform, iOS, Android and Windows Phone development, Raasoft implements diverse mobile social
                networking projects,
                from mobile-first dating apps to fully-featured counterparts to web-based systems.</p>
        </div>
        <div class="col-12 justify-content-md-center phone">
            <img src="/assets/images/enterprises/mobile.png" alt="phone_icon">
        </div>
    </div>

    <div class="row dimensions section_padding">
        <div class="col-12">

                <div class="section_title text-center">
                        
                        <h2>Adding a Social Dimension to Customer Interaction</h2>
                        <span class="line"></span>
                    </div>
           <p class="contentText">Building on the best of traditional eCommerce, mCommerce or CRM system development practices, tools and
                techniques, we incorporate a deeper layer of technology-mediated social interactions to fit into the
                increasingly customer-controlled reality. </p>

        </div>
    </div>

    <div class="row socials justify-content-around">
        <div class="col-12 col-md-5">

                <span class="socIcon"><i class="flaticon2-technical-support"></i></span>
            <h4>SOCIAL COMMERCE</h4>
            <p class="contentText">Whether you want to launch a full-size social commerce project or just extend your existing application

                with group buying or shoppable social media features, you can rely on Raasoft to incorporate smart
                networking capabilities into your eCommerce endeavor and securely integrate it with payment systems and
                any other 3rd party services.</p>
        </div>
        <div class="col-12 col-md-5">
                <span class="socIcon"><i class="flaticon2-project-management"></i></span>
            <h4>SOCIAL CRM</h4>
            <p class="contentText">The bulk of customer feedback originates on Facebook, Twitter, or any other social network people

                naturally use to share their views and opinions. Raasoft helps companies leverage social media
                technology to track, measure, monitor and improve their social media communications and ultimately
                target best performing social platforms. </p>
        </div>
        <div class="col-12 col-md-5">
<img src="../../../assets/images/enterprises/social-crm.png" alt="social-crm-img">
</div>
    </div>

    <div class="row network">
        <div class="col-12">
                <div class="section_title text-center">
                        
                        <h2>Enterprise Social Networking</h2>
                        <span class="line"></span>
                    </div>

            <p class="contentText">Raasoft accommodates enterprise-grade applications with social capabilities to make collaboration at
                organizations yet more effective. We combine long-standing portal development expertise with focus on
                advanced social collaboration technologies and tools to empower social enterprises on all fronts: </p>

        </div>
    </div>

    <div class="row scheme justify-content-center">
        <div class="col-12">
            <img src="/assets/images/enterprises/scheme.png" alt="card1_icon">
        </div>
        <div class="col-12 col-sm-6 col-md-4 box productivity">
            <h4>PRODUCTIVITY TOOLS</h4>
            <ul>
                <li>Task management</li>
                <li>Search</li>
                <li>Calendar management</li>
                <li>Polls/Surveys</li>
                <li>Knowledge base</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 box content">
            <h4>CONTENT MANAGEMENT</h4>
            <ul>
                <li>File sharing</li>
                <li>Document collaboration</li>
                <li>Tagging</li>
                <li>Version control</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 box networking">
            <h4>NETWORKING</h4>
            <ul>
                <li>Instant messaging</li>
                <li>Notifications</li>
                <li>Intelligent feed</li>
                <li>Discussions</li>
                <li>Status updates</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 box gamification">
            <h4>TEAM EVALUATION & GAMIFICATION</h4>
            <ul>
                <li>Social reputation</li>
                <li>Comments and voting</li>
                <li>Ranking</li>
                <li>Badges</li>
                <li>Privileges</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 box collab">
            <h4>PROJECT COLLABORATION</h4>
            <ul>
                <li>Groups and projects</li>
                <li>Work reporting tools</li>
                <li>Approval cycle</li>
                <li>Single page view</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 box video">
            <h4>VIDEO COLLABORATION</h4>
            <ul>
                <li>Video conferencing</li>
                <li>Enterprise webcasting</li>
                <li>Video messaging</li>
                <li>Mobile video calls</li>
            </ul>
        </div>
    </div>



</div>