@import "./../../app.component.scss";

.social {
    // margin-top: 100px;
    // padding: 150px 0;
    padding: 0;

    .heading {
        text-align: center;
        padding: 80px 40px 20px 40px;
        margin-top: 50px;
        .section_title {
            padding: 0;
        }

        .contentText {
            padding: 40px;
        }
    }

    .phases {
        text-align: center;
        // margin: 40px 0;
        h4 {
            padding: 30px 0;

            @include respond-to("medium") {
                padding: 0;
            }
        }
        p {
            @include respond-to("medium") {
                // padding: 0 10px;
            }
        }
        .phaseText {
            margin: 20px 0;
            padding: 0;
            @include respond-to("medium") {
                margin-bottom: 60px;
                :last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .cross {
            align-items: center;
            width: 90px;
            height: 90px;
            div {
                margin-left: 40%;
                @include respond-to("medium") {
                    margin-left: 55%;
                }
            }
        }
        span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 2px solid $darkBlue;
            border-right: 2px solid $darkBlue;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin: -5px;
            float: left;
            -webkit-animation: animate 2s infinite;
            animation: animate 2s infinite;
        }

        @keyframes animate {
            0% {
                opacity: 0;
                -webkit-transform: rotate(-45deg) translate(-20px, -20px);
                -ms-transform: rotate(-45deg) translate(-20px, -20px);
                transform: rotate(-45deg) translate(-20px, -20px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                -webkit-transform: rotate(-45deg) translate(20px, 20px);
                -ms-transform: rotate(-45deg) translate(20px, 20px);
                transform: rotate(-45deg);
            }
        }
        @include respond-to("medium") {
            span {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                margin: -10px;
                float: none;
            }

            @keyframes animate {
                0% {
                    opacity: 0;
                    -webkit-transform: rotate(45deg) translate(-20px, -20px);
                    -ms-transform: rotate(45deg) translate(-20px, -20px);
                    transform: rotate(45deg) translate(-20px, -20px);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    -webkit-transform: rotate(45deg) translate(20px, 20px);
                    -ms-transform: rotate(45deg) translate(20px, 20px);
                    transform: rotate(45deg);
                }
            }
        }
        span:nth-child(2) {
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
        }
        span:nth-child(3) {
            -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
        }
    }

    .description {
        padding: 50px 0 0;
        cursor: default;
        h2 {
            padding: 80px 40px 20px 40px;
        }

        .social {
            position: relative;

            width: 500px;
            margin: 0 auto;
            @include respond-to("small") {
                display: none;
            }
            .circle {
                animation: 30s linear 0s normal none infinite running clockwise;
                -webkit-animation: 30s linear 0s normal none infinite running clockwise;
            }
            .user {
                position: absolute;
                animation: pulse 4s ease-in-out infinite;
                @keyframes pulse {
                    from {
                        transform: scale(0.85);
                    }
                    50% {
                        transform: scale(1);
                    }
                    to {
                        transform: scale(0.85);
                    }
                }
            }
            .user1 {
                img {
                    width: 120px;
                }
                top: 190px;
                left: 190px;
            }
            .user2 {
                img {
                    width: 60px;
                }
                top: 65px;
                left: 20px;
            }
            .user3 {
                img {
                    width: 60px;
                }
                top: 310px;
                left: 110px;
            }
            .user4 {
                img {
                    width: 100px;
                }
                top: 120px;
                right: 40px;
            }
            .user5 {
                img {
                    width: 50px;
                }
                bottom: 30px;
                right: 140px;
            }

            @keyframes clockwise {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .balls {
            margin-bottom: 50px;
            padding: 0 50px;
            text-align: center;
            @include respond-to("small") {
                background: none;
                background-color: $btnThirdColor;
                height: auto;
            }

            p {
                padding: 50px 0;
            }
        }
        .box {
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            transition: all 0.5s ease-out;

            h4 {
                color: white;
                padding: 10px 0;
                margin: 0 20px;
                background: linear-gradient(180deg, #2785e6, #adccee, #2785e6);
                background-size: 600% 600%;
                border-radius: $default-border-radius;
                transition: all 0.5s ease-out;
                -webkit-animation: AnimationName 6s ease infinite;
                -moz-animation: AnimationName 6s ease infinite;
                animation: AnimationName 6s ease infinite;
                @-webkit-keyframes AnimationName {
                    0% {
                        background-position: 0% 86%;
                    }
                    50% {
                        background-position: 100% 15%;
                    }
                    100% {
                        background-position: 0% 86%;
                    }
                }
                @-moz-keyframes AnimationName {
                    0% {
                        background-position: 0% 86%;
                    }
                    50% {
                        background-position: 100% 15%;
                    }
                    100% {
                        background-position: 0% 86%;
                    }
                }
                @keyframes AnimationName {
                    0% {
                        background-position: 0% 86%;
                    }
                    50% {
                        background-position: 100% 15%;
                    }
                    100% {
                        background-position: 0% 86%;
                    }
                }
            }

            p {
                position: absolute;
                left: 0;
                opacity: 0;
                margin: 0 35px;
                padding: 0 5px;
                height: 0;
                // height: 100%;

                transition: all 0.5s ease-out;
                background-color: white;
                border: 1px solid white;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

                border-radius: 15px;
                box-sizing: border-box;
            }
        }
        .box:hover {
            h4 {
                background: linear-gradient(#2785e6, #adccee);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            p {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                opacity: 1;
                height: 500%;
                z-index: 2;
            }
        }
        .map {
            background: no-repeat url("../../../assets/images/enterprises/map-back.png");
            background-position: center;
        }
    }

    .mobile {
        position: relative;
        text-align: center;
        padding: 40px 0 100px 0;
        margin: 50px 0;
        background: center no-repeat url("../../../assets/images/enterprises/back.jpg");
        background-size: cover;
        color: white;
        h2 {
            margin: 20px 0 20px 0;
        }
        p {
            color: white;
            // font-size: larger;
            padding: 15px 160px;
            @include respond-to("small") {
                padding: 15px;
            }
        }
        .phone {
            animation: up 4.5s ease-in-out infinite;

            @include respond-to("small") {
                position: none;
                img {
                    height: auto;
                }
            }
            position: absolute;
            bottom: -100px;
            img {
                height: 200px;
            }
        }
    }
    .dimensions {
        padding: 40px 0 20px;
        margin: 60px 0 20px 0;
        text-align: center;

        p {
            padding: 15px 50px 20px;
            @include respond-to("small") {
                padding: 15px;
            }
        }
    }

    .socials {
        margin: 0 70px 70px 70px;
        h2 {
            padding: 0 0 20px;
        }

        .text {
            h2 {
                color: $darkBlue;
            }
            margin: 20px 10px;
            padding: 20px;
            border: 1px solid #e6e6e6;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        }
        div:first-child,
        div:last-child {
            text-align: center;
            align-self: center;
            margin: 0 auto;
            animation: up 3s ease-in-out infinite;
            img {
                width: 80%;
            }
            @include respond-to("small") {
                display: none;
            }
        }
    }
    .network {
        padding: 40px 0 0;
        margin: 50px 0 20px 0;
        text-align: center;
        p {
            padding: 20px 0 40px;
            @include respond-to("small") {
                padding: 15px;
            }
        }
    }
    .scheme {
        text-align: center;
        position: relative;
        img {
            width: 30%;
            margin: 250px 0;
            @include respond-to("medium") {
                display: none;
            }
        }
        .box {
            text-align: left;
            position: absolute;
            @include respond-to("medium") {
                position: relative;
                text-align: center;
            }
            h4 {
                padding: 10px 0;
            }
            li {
                padding: 5px 0;
                position: relative;
                margin-left: 10px;
            }

            li:before {
                content: "";
                position: absolute;
                display: block;
                width: 4px;
                height: 4px;
                top: 0.8em;
                left: -10px;
                border-radius: 50%;
                @include respond-to("medium") {
                    width: 0;
                    height: 0;
                }
            }
        }
        .productivity {
            left: 25%;
            top: 0;
            @include respond-to("medium") {
                left: 0;
            }
            h4 {
                color: #255ccc;
            }
            li:before {
                background-color: #255ccc;
            }
        }
        .content {
            right: 5%;
            top: 0;
            @include respond-to("medium") {
                right: 0;
            }
            h4 {
                color: #00ddce;
            }
            li:before {
                background-color: #00ddce;
            }
        }
        .networking {
            left: 10%;
            top: 35%;
            @include respond-to("medium") {
                left: 0;
            }
            h4 {
                color: #fdcc27;
            }
            li:before {
                background-color: #fdcc27;
            }
        }
        .gamification {
            right: 0;
            top: 35%;
            @include respond-to("medium") {
                right: 0;
            }
            h4 {
                color: #9d26d5;
            }
            li:before {
                background-color: #9d26d5;
            }
        }
        .collab {
            left: 25%;
            bottom: 5%;
            @include respond-to("medium") {
                left: 0;
            }
            h4 {
                color: #ff9700;
            }
            li:before {
                background-color: #ff9700;
            }
        }
        .video {
            right: 5%;
            bottom: 5%;
            @include respond-to("medium") {
                right: 0;
            }
            h4 {
                color: #f96057;
            }
            li:before {
                background-color: #f96057;
            }
        }
    }
    .toContact {
        margin: 40px 0 0;
        padding: 40px 20px;
        text-align: center;
        color: $lightColor;
        background-color: $btnSecondColor;
        h2 {
            padding: 40px 0 10px 0;
        }
        p {
            color: $lightColor;
            margin-bottom: 40px;
        }
        button {
            text-align: center;
            border-radius: 20px;
            text-transform: uppercase;
            margin: 0 auto;
            border: none;
            background-color: $btnSecondColor;
            border: 1px solid $btnSecondColor;

            color: $lightColor;
            padding: 10px 30px;
            font-weight: 600;
        }

        button:active {
            transform: translateY(1px);
            filter: saturate(150%);
        }

        button:hover {
            background: none;
            border: 1px solid $lightColor;
            box-sizing: border-box;
        }
    }

    @keyframes up {
        from {
            transform: translateY(-10px);
        }
        50% {
            transform: none;
        }
        to {
            transform: translateY(-10px);
        }
    }
}
