@import "./../../app.component.scss";

.contact_content {
    background: $lightColor;
.form-home {
    padding-bottom: 80px;
}
    h3.contact_title {
        color: $darkGrey;
        font-weight: 400;
        font-family: $second-font-family;
        margin-bottom: 40px;
        -webkit-font-smoothing: antialiased;
        font-size: 25px;

        &::before {
            background: $borderColor;
            top: -11px;
            content: "";
            height: 1px;
            left: 3px;
            position: absolute;
            width: 50px;
        }
    }

    .wrapper {
        padding-bottom: 50px;
        padding-right: 40px;
        padding-top: 40px;
    }

    .abform_area {
        padding-bottom: 80px;
        .abinput_group {
            margin-bottom: 30px;
            width: 49.1%;
            height: 50px;
            float: left;
            text-align: left;
            .errorMessage {
                color: $red;
                font-size: 12px;
                }
            &:nth-child(even) {
                margin-left: 1.8%;
                @include respond-to("small") {
                    margin-left: 0;
                }
            }

            &.msg {
                width: 100%;
                clear: both;
                height: 150px;
                margin-bottom: 40px;
            }

            input {
                padding: 10px 22px;
                width: 100%;
                background: none;
                color: $darkGrey;
                // border: none !important;
                // border-bottom: 1px solid grey ;
                padding-left: 0;
                font-family: $primary-font-family;
                // background: $lightgreyBg;

            }

            .textarea {
                @extend input;
                resize: none;
                margin-bottom: 0;
                height: 150px;
                padding-right: 90px;
            }

            label {
                font-size: 14px;
                color: $lightGrey;
                font-family: $primary-font-family;
                // top: 1.84375em;
                line-height: 16px;
                transition: all 1s ease-out;
            }
            .activeInput {
                transform: scale(0.8);
            }
            @include respond-to("extra-small") {
                width: 100%;
            }
        }

        .submitButton {
            position: absolute;
            padding: 0;
            bottom: 0;

            @include transition(color $animation-speed linear);

            border: none;
            background: transparent;
            color: $btnFirstColor;
            font-size: 80px;
            height: 80px;
            right: 30px;

            &:hover {
                color: $btnSecondColor;
            }
        }
        .notActive {
            bottom: 0;
            color: $primary-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.ion-ios-navigate {
    &::before {
        display: block;
        position: absolute;
        top: 15px;
        right: 30px;
        @include respond-to("small") {
            right: 10px;
        }
    }
}

.contact_address {
    @include respond-to("small") {
        align-items: center;
    }
    align-items: flex-start;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    padding: 45px 35px;

    h4 {
        color: $darkGrey;
        margin-bottom: 50px;
        font-size: 25px;

        &::before {
            background: $borderColor;
            top: -11px;
            content: "";
            height: 1px;
            left: 3px;
            position: absolute;
            width: 50px;
        }
    }

    p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 25px;
        padding-left: 35px;
        color: $primary-color;
        font-family: $primary-font-family;

        @include respond-to("small") {
            width: 100%;
        }
        i {
            font-size: 20px;
            left: 0;
            position: absolute;
            top: 0;
        }
    }

    .web > a {
        color: $primary-color;

        &:hover {
            color: $btnFirstColor;
        }
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5000;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    &__wrapper {
        width: 60px;
        height: 60px;
        position: relative;
    }
    &__item {
        position: absolute;
        width: 6px;
        height: 20px;
        border-radius: 3px;
        animation: loading;
        animation-duration: 1.2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &--1 {
            top: 0;
            left: calc(50% - 3px);
        }
        &--2 {
            top: 4%;
            right: 28%;
            transform: rotate(30deg);
            animation-delay: 0.1s;
        }
        &--3 {
            top: 17%;
            right: 17%;
            transform: rotate(60deg);
            animation-delay: 0.2s;
        }
        &--4 {
            height: 6px;
            width: 20px;
            right: 0;
            top: calc(50% - 3px);
            animation-delay: 0.3s;
        }
        &--5 {
            bottom: 17%;
            right: 17%;
            transform: rotate(120deg);
            animation-delay: 0.4s;
        }
        &--6 {
            bottom: 4%;
            right: 28%;
            transform: rotate(150deg);
            animation-delay: 0.5s;
        }
        &--7 {
            bottom: 0;
            left: calc(50% - 3px);
            animation-delay: 0.6s;
        }
        &--8 {
            bottom: 4%;
            left: 28%;
            transform: rotate(-150deg);
            animation-delay: 0.7s;
        }
        &--9 {
            bottom: 17%;
            left: 17%;
            transform: rotate(-120deg);
            animation-delay: 0.8s;
        }
        &--10 {
            height: 6px;
            width: 20px;
            left: 0;
            top: calc(50% - 3px);
            animation-delay: 0.9s;
        }
        &--11 {
            top: 17%;
            left: 17%;
            transform: rotate(-60deg);
            animation-delay: 1s;
        }
        &--12 {
            top: 4%;
            left: 28%;
            transform: rotate(-30deg);
            animation-delay: 1.1s;
        }

        @keyframes loading {
            10% {
                background-color: lighten(#000000, 10%);
            }
            20% {
                background-color: lighten(#000000, 20%);
            }
            30% {
                background-color: lighten(#000000, 30%);
            }
            40% {
                background-color: lighten(#000000, 40%);
            }
            50% {
                background-color: lighten(#000000, 50%);
            }
            60% {
                background-color: lighten(#000000, 60%);
            }
            70% {
                background-color: lighten(#000000, 70%);
            }
            80% {
                background-color: lighten(#000000, 80%);
            }
            90% {
                background-color: lighten(#000000, 90%);
            }
            100% {
                background-color: lighten(#000000, 100%);
            }
        }
    }
}