<div class="contact_content">
    <div class="section_title text-center">
        <h5 class="title_20 color_88">Contact Us</h5>
        <h2>Don’t hesitate to contact with us anytime</h2>
        <span class="line"></span>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7">
                <h3 class="contact_title  pos_relative">Drop us a Line</h3>
                <div class="abform_area pos_relative">

                    <form class="text-center" 
                        novalidate #contactForm="ngForm" 
                        (ngSubmit)=" onSubmit(contactForm)">
                        <mat-form-field class="abinput_group name ">
                            <input 
                                type="text" 
                                name="contactFormName" 
                                required
                                maxlength="60" 
                                [(ngModel)]="user.contactFormName"
                                #contactFormName="ngModel" 
                                class="form-control" 
                                matInput matValidate />
                            <mat-label for="materialContactFormEmail">Name</mat-label>
                            <mat-error *ngIf="contactForm.submitted && contactFormName.invalid">Name is required
                                </mat-error>

                        </mat-form-field>

                        <mat-form-field class="md-form abinput_group email">
                            <input type="email" name="email" [(ngModel)]="user.contactFormEmail"
                                #contactFormEmail="ngModel" pattern="^\S+@\S+$" required id="materialContactFormEmail" class="form-control"
                                matInput matValidate />
                            <mat-label for="materialContactFormEmail">E-mail</mat-label>
                            <mat-error *ngIf="contactForm.submitted && contactFormEmail.invalid">
                                <span *ngIf="contactFormEmail.errors.required">Email is required</span>
                                <span *ngIf="contactFormEmail.errors.pattern">Wrong email format</span></mat-error>
                        </mat-form-field>

                        <mat-form-field class="md-form abinput_group subject">
                            <input type="text" name="subject" reqired [(ngModel)]="user.contactFormSubject"
                                required #contactFormSubject="ngModel" id="materialContactFormSubject" class="form-control"
                                matInput matValidate />
                            <mat-label for="materialContactFormSubject">Subject</mat-label>
                            <mat-error *ngIf="contactForm.submitted && contactFormSubject.invalid">Input invalid</mat-error>
                        </mat-form-field>
                        <mat-form-field class="md-form abinput_group phone">
                            <input type="text" name="phone" [(ngModel)]="user.contactFormPhone"
                                #contactFormPhone="ngModel"
                                pattern="^\+\d{12}$"
                                 id="materialContactFormPhone" class="form-control" matInput
                                matValidate />
                            <mat-label for="materialContactFormPhone">Phone</mat-label>
                            <mat-error *ngIf="contactForm.submitted && contactFormPhone.invalid">Input
                                invalid</mat-error>
                        </mat-form-field>

                        <mat-form-field class="md-form abinput_group msg">
                            <textarea type="text" name="message" [(ngModel)]="user.contactFormMessage"
                                #contactFormMessage="ngModel" required id="materialContactFormMessage" class="form-control md-textarea"
                                matInput matValidate></textarea>
                            <mat-label for="materialContactFormMessage">Message</mat-label>
                            <mat-error *ngIf="contactForm.submitted && contactFormMessage.invalid">Input
                                invalid</mat-error>
                        </mat-form-field>

                        <button color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect text-uppercase"
                            ><i class="ion-ios-navigate"></i></button>
                    </form>
                    <div class="successPopover" [ngClass]="{messageActive: successPopover}" >Mesasge was sent successfully</div>
                    <div class="errorPopover" [ngClass]="{messageActive: errorText}">{{errorText}}</div>
                    <!--/form-->
                </div>

        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="contact_address">
                <h4 class="pos_relative">Contact Information</h4>
                <p class="address pos_relative"><i class="flaticon-placeholder"></i><span class="text-uppercase">ADDRESS:</span>
                    28
                    Green Tower, <br>Street Name New York City, USA</p>
                <p class="phone pos_relative"><i class="flaticon-phone-call"></i><span class="text-uppercase">Phone:</span>
                    +84 846
                    250 592</p>
                <p class="email pos_relative"><i class="flaticon-mail"></i><span class="text-uppercase">Email:</span>
                    contact@staker.com</p>
                <p class="web pos_relative"><i class="flaticon-internet"></i><span class="text-uppercase">WEbsite:
                    </span> <a href="#" target="_blank">demostaker.com</a></p>
            </div>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/contact content-->