$font-Flaticon-innovation: "\f100";
$font-Flaticon-graphic-design: "\f101";
$font-Flaticon-chip: "\f102";
$font-Flaticon-project: "\f103";
$font-Flaticon-technical-support: "\f104";
$font-Flaticon-project-management: "\f105";