@import "../../app.component.scss";
.vacancies {
    .banner {
        position: absolute;
        background: no-repeat url("../../../assets/images/banner-bg-5.png");
        background-size: cover;
        height: 100%;
        width: 80%;
        top: 0;
        right: 0;
    }
    .app_banner {
        margin: 100px 0;
        @include respond-to("medium") {
            margin: 20px 0;
        }
        .vacanciesBannerContent {
            margin-top: 40px;
            h1 {
                margin-bottom: 30px;
            }
        }

        > img {
            @include respond-to("medium") {
                display: none;
            }
            position: absolute;
            width: 80px;
            transform: scale(0.85);
            animation: pulse 4s ease-in-out infinite;
        }
        @keyframes pulse {
            from {
                transform: scale(0.85);
            }
            50% {
                transform: scale(1);
            }
            to {
                transform: scale(0.85);
            }
        }

        .user-1 {
            top: 14%;
            right: 14%;
            width: 120px;
        }
        .user-2 {
            top: 15%;
            right: 47%;
        }
        .user-3 {
            top: 29%;
            right: 41%;
            width: 100px;
        }
        .user-4 {
            top: 54%;
            right: 4%;
        }
        .user-6 {
            top: 39%;
            right: 14%;
            width: 60px;
        }
        .user-7 {
            top: 50%;
            right: 40%;
            width: 100px;
        }
    }

    .vacanciesBlock {
        > div {
            padding: 0;
        }
        @include respond-to("small") {
            h3 {
                text-align: center;
                padding: 0;
                margin: 20px 0;
            }
            .paddingLeft {
                padding-left: 0;
            }
            button {
                text-align: center;
                margin: 0 auto;
            }
        }
        h3 {
            padding: 50px 0;
            font-weight: 700;
            color: $darkBlue;
            @include respond-to("extra-small") {
                padding: 10px 0;
            }
        }
        .dropdown-menu,
        button {
            width: 100%;
        }
        .btn-group {
            display: flex;
            justify-content: center;
        }
        .paddingLeft {
            padding-left: 50px;
            @include respond-to("small") {
                padding: 10px;
            }
        }
        .vacanciesList {
            @include respond-to("small") {
                border-left: none;
                padding-left: 0;
            }
            border-left: 1px solid $lightGrey;
            padding-left: 50px;

            .hotIcon {
                width: 50px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 15px;

                p {
                    font-size: 22px;
                    color: #d02f28;
                    font-weight: 700;
                    padding-left: 15px;
                }
            }

            .vacancy {
                border-bottom: 2px solid $lightGrey;
                padding-bottom: 15px;
                margin-bottom: 40px;

                h4 {
                    padding: 0 0 15px;
                    font-weight: 700;
                    color: $darkGrey;
                }
                .seniority {
                    font-weight: 700;
                    font-size: larger;
                    color: $btnThirdColor;
                }
                .text {
                    padding: 15px 0 0;
                    font-size: 16px;
                }
            }
            .vacancy:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    .questionary {
        margin-top: 100px;
        text-align: center;
        h4 {
            padding: 0 0 15px;
            font-weight: 700;
            color: $darkBlue;
        }
        p {
            font-weight: 700;
            font-size: larger;
            padding: 0 0 30px;
        }
        a {
            text-align: center;
            border-radius: 20px;
            text-transform: uppercase;
            background-color: $lightColor;
            border: 1px solid $darkBlue;
            color: $darkBlue;
            padding: 10px 30px;
            font-weight: 600;
           
           display: inline-block;
            transition-duration: 1s;
            margin: 10px 0 10px 0;
        }

        a:active {
            transform: translateY(1px);
            filter: saturate(150%);
        }

        a:hover {
            background: $darkBlue;
            color: $lightColor;
            border: 1px solid $darkBlue;
            box-sizing: border-box;
        }
    }

    @include respond-to("extra-small") {
        .vacanciesBannerContent {
            h1 {
                font-size: 30px;
                line-height: 30px;
                font-weight: 600;
                text-align: center;
            }
        }

        .app_img {
            display: none;
        }
    }
}
