@import "../../app.component.scss";

.vacancies {
    .intro {
        background: center no-repeat url("../../../assets/images/banner-it.png");
        background-size: cover;
        min-height: 600px;
        position: relative;
        padding: 0;
        .banner {
            position: absolute;
            background-color: black;
            opacity: 0.6;
            min-height: 600px;
            width: 100%;
        }

        h1 {
            color: $lightColor;
            padding: 50px;
        }
        h4 {
            color: $lightColor;
            padding-left: 50px;
        }
    }

    .vacanciesBlock {
        h3 {
            padding: 50px 0 50px 0;
            font-weight: 700;
            color: $darkBlue;
        }
        button {
            width: 200px;
        }
        .vacanciesList {
            border-left: 1px solid $lightGrey;
            padding-left: 50px;

            .hotIcon {
                width: 50px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 15px;

                p {
                    font-size: 22px;
                    color: #d02f28;
                    font-weight: 700;
                    padding-left: 15px;
                }
            }

            .paddingLeft {
                padding-left: 50px;
            }
            .vacancy {
                border-bottom: 2px solid $lightGrey;
                padding-bottom: 15px;
                margin-bottom: 15px;

                h4 {
                    padding: 0 0 15px;
                    font-weight: 700;
                    color: $darkBlue;
                }
                .seniority {
                    font-weight: 700;
                    font-size: larger;
                    color: $btnThirdColor;
                }
                .text {
                    padding: 15px 0 0;
                    font-size: 16px;
                }
            }
            .vacancy:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    .questionary {
        margin-top: 100px;
        text-align: center;
        h4 {
            padding: 0 0 15px;
            font-weight: 700;
            color: $darkBlue;
        }
        p {
            font-weight: 700;
            font-size: larger;
            padding: 0 0 30px;
        }
        button {
            text-align: center;
            border-radius: 20px;
            text-transform: uppercase;
            margin: 0 auto;
            border: none;
            background-color: $lightColor;
            border: 1px solid $darkBlue;
            color: $darkBlue;
            padding: 10px 30px;
            font-weight: 600;
        }

        button:active {
            transform: translateY(1px);
            filter: saturate(150%);
        }

        button:hover {
            background: $darkBlue;
            color: $lightColor;
            border: 1px solid $darkBlue;
            box-sizing: border-box;
        }
    }
    // .vacancy {
    //     display: flex;
    //     width: 100%;
    //     align-items: center;
    //     padding: 10px 15px;

    //     &:nth-child(even) {
    //         background-color: $lightgreyBg;
    //     }

    //     & > * {
    //         flex-grow: 1;
    //         flex-basis: 10%;
    //         max-width: 10%;
    //         vertical-align: middle;

    //         &:first-child {
    //             flex-grow: 2;
    //             flex-basis: 60%;
    //             max-width: 60%;
    //             text-transform: uppercase;
    //         }
    //         &:nth-child(2) {
    //             flex-grow: 2;
    //             flex-basis: 30%;
    //             max-width: 30%;
    //             font-size: 14px;
    //             color: $lightGrey;
    //         }
    //     }

    //     sf-btn {
    //         text-transform: uppercase;
    //     }
    // }
}
