@import "../service-uxdes/service.uxdes.component.scss";

.serviceDetails ::ng-deep{
    .mat-tab-label{
        @include respond-to("small") {
            width: 100%;
        }
        width: 21%;
        min-width: 100px;
    }
}