<section class="serviceDetails section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h2>{{title}}</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" dynamicHeight="true">

        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind1.png" alt="" />

                <h5>Python</h5>
            </ng-template>

            <h3>Python</h3>
            <p>
                Find custom software development services powered on giving you the needed flexibility and robustness
                in your products. With Python you are able to get a perfect data visualization, easy-to-use interface
                on multi-source Data, data analysis, solid infrastructure and easy management of massive data in one
                go.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind2.png" alt="" />
                <h5>PHP</h5>
            </ng-template>

            <h3>PHP</h3>
            <p>
                PHP as wonderful and object-oriented as it is can be used for about almost everything from web
                applications to data analysis. It lands great functionality and feature-richness in business
                applications, enterprise applications, with all the customization needed to give you an enriched
                experience.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind3.png" alt="" />

                <h5>Microsoft</h5>
            </ng-template>

            <h3>Microsoft</h3>
            <p>
                We are all rounder custom software development company that helps you get custom software specifically
                for challenging business environments. With Microsoft, we are able to lend you amazing opportunities,
                from custom application development to data management systems it sees to the rich customization,
                business logic, security capabilities in your custom software development.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind4.png" alt="" />
                <h5>Java</h5>
            </ng-template>

            <h3>Java</h3>
            <p>
                Java’s technical prowess allows you to enhance efficiency and scalability in the custom software
                development services. Our software development services, profoundly use the power of Java to give
                amazing advantages such as smart solutions adoption, faster and more efficient Big Data Processing,
                cost reduction, easy maintenance of projects, integrated protection and database access security on
                multi-functional java based applications.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind5.png" alt="" />
                <h5>Mobile App</h5>
            </ng-template>

            <h3>Mobile App</h3>
            <p>
                Mobile Apps are doing more than just entertaining the users, rather they have grown business centric
                and are now handling massive enterprise oriented operations. We do custom application development for
                web and mobile platforms. Our enterprise mobile applications are easy-to-use, secure, efficient and
                lends you high scalability with perks of enhance productivity.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind6.png" alt="" />
                <h5>Ecommerce</h5>
            </ng-template>

            <h3>Ecommerce</h3>
            <p>
                We make your online business management easy and comprehensive, from web applications to mobile
                applications to robust software products we provide our custom software development in very niche to
                bring the ease of functionality that help you enhance your product visibility, better data management,
                improved customer relations and of course a increased ROI.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind7.png" alt="" />
                <h5>OpenSource</h5>
            </ng-template>

            <h3>OpenSource</h3>
            <p>
                Open source allows you to gain the technical superiority in your business operations, it allows you to
                respond well to the market challenges and help you gain an upper hand in your business domain. We are
                Development software company that exploits the benefits of open source to provide you growth,
                efficiency and development. Some of the open source technologies we extensively use are Apache,
                WordPress, Java, MySQL, HTML, and PHP.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind8.png" alt="" />
                <h5>SAP</h5>
            </ng-template>

            <h3>SAP</h3>
            <p>
                It leads the show for enterprise application software and provides us the needed edge in customizing
                your products as per your unique needs. SAP is an innovative solutions that allows you to track custom
                and business interactions and very compliant to provide you great Enterprise Resource planning and Data
                Management Programs.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind9.png" alt="" />
                <h5>IOT</h5>
            </ng-template>

            <h3>IOT</h3>
            <p>
                Find the right set of technology toolset and expert developers that help you build robust and
                dependable IoT technology, developed to total your business unique needs. We help you integrate IoT to
                your simple to crucial business operations, reducing your efforts while giving you time to think beyond
                and grow.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind10.png" alt="" />
                <h5>AI/BI</h5>
            </ng-template>

            <h3>AI/BI</h3>
            <p>
                Lead your domain with intelligent technologies helping you gain impetus in your vertical while
                providing you data-driven business centric solutions. Here we cater you quality integration by skilful
                expert developers of technologies such as AI and BI that help you make more precise decisions while
                reducing your efforts sublimely.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind11.png" alt="" />
                <h5>Cloud</h5>
            </ng-template>

            <h3>Cloud</h3>
            <p>
                Massive amount of data is generated each day, but rather than thinking it as a waste, you can
                definitely use it in your benefits. With our cloud integration services you are able to manage you data
                better and using it further in building better customer relationships also it allows you to access all
                the information on one go while enhancing your productivity.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/ind12.png" alt="" />
                <h5>BlockChain</h5>
            </ng-template>

            <h3>BlockChain</h3>
            <p>
                It is way past the time when BlockChain was merely a crypto currency tool. Rather its security, agility
                is now being used in developing flexible, highly functional and secure programmes helping you grow
                better in your business vertical.
            </p>
        </mat-tab>
    </mat-tab-group>
</section>