@media (max-width: 1700px) {
    .app_banner .shape1 {
        left: -390px;
    }
    .app_banner .shape2 {
        right: -315px;
    }
    .app_banner .shape3 {
       right: -320px;
    }
    
    .at_a_glance {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .at_a_glance .glance_img {
        right: 50px;
        max-width: 600px;
    }
    
    
    .download_app .download_mocup {
        right: 70px;
    }
    .download_app .section_title > h2 {
        margin: 0;
        max-width: 530px;
    }
    
    
} /*---end 1501-1700px----*/


@media (max-width: 1500px){
    .app_banner {
        padding-top: 280px;
        padding-bottom: 150px;
    }
    .app_banner .shape2 {
        right: -415px;
        top: -318px;
    }
    .app_banner .shape3 {
        right: -417px;
        top: -330px;
    }
    
    .app_banner .app_img1 {
        right: -94px;
        top: -130px;
    }
    .app_banner .app_img2 {
        top: 39px;
    }
    
    .app_newsletter .subscribe_form > .ptb_100 {
        padding: 90px 15px 90px 70px;
    }
    
    
}/*---end 1401-1500px----*/

@media (max-width: 1400px){
    .app_banner {
        padding-bottom: 90px;
    }
    .app_banner .shape1 {
        left: -390px;
        top: -90px;
        width: 500px;
    }
    .app_banner .shape2 {
        right: -485px;
        top: -318px;
    }
    .app_banner .shape3 {
        right: -493px;
        top: -330px;
    }
    .app_banner .app_img1 {
        right: 10px;
        top: -90px;
        max-width: 310px;
    }
    .app_banner .app_img2 {
        top: 9px;
        left: 30px;
        max-width: 440px;
    }
    
    .at_a_glance .glance_content > p {
        max-width: 480px;
    }
    .at_a_glance:before {
        bottom: -40px;
        border-top: 88px solid #fafafa;
    }
    
    .feature_section {
        padding-top: 188px;
        padding-bottom: 95px;
    }
    .feature_section:before {
        bottom: -35px;
        border-top: 68px solid #fff;
    }
    
    .download_app .download_mocup {
        max-width: 530px;
    }
    .download_app .download_content {
        padding-right: 126px;
    }

    
    
    
    
}/*---end 1200-1400px----*/


@media (max-width: 1199px) {
    .app_banner {
      padding-top: 180px;
    }
    .app_banner .shape1 {
      height: 410px;
      left: -390px;
      top: -30px;
      width: 490px;
    }
    .app_banner .shape2 {
      right: -625px;
    }
    .app_banner .shape3 {
      border-radius: 80px;
      right: -633px;
    }
    
    .app_banner .banner_content h1 {
      font-size: 42px;
      line-height: 54px;
    }
    .app_banner .banner_content h5 {
      font-size: 18px;
      line-height: 30px;
    }
    .app_banner .app_img1 {
      max-width: 290px;
      right: -20px;
      top: -20px;
    }
    .app_banner .app_img2 {
        left: -30px;
        max-width: 440px;
        top: 60px;
    }
    .app_banner .banner_content .app_link a {
      width: 190px;
    }
    .app_banner .banner_content .app_link a::after {
      width: 186px;
    }
    .app_banner .banner_content .app_link .google_play {
      margin-right: 15px;
    }
    
    .at_a_glance {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .at_a_glance:before {
        bottom: -35px;
    }
    .at_a_glance .glance_img {
      max-width: 410px;
    }
    
    .feature_section .intro_common .intro_text h4 {
        font-size: 17px;
        line-height: 24px;
    }
    .feature_section .intro_common .intro_text p {
        line-height: 25px;
    }
    
    .section_title > h2 {
        font-size: 34px;
        line-height: 45px;
        max-width: 600px;
    }
    
    .video_section{
        overflow: hidden;
    }
    .video_section .bg_img {
        bottom: -60px;
    }
    .video_section .video_content {
        height: 640px;
    }
    .video_section .video_content h2 {
        font-size: 32px;
        line-height: 45px;
        padding-top: 178px;
    }
    
    .app_pricing .single_tbl .tbl_header h1 {
        font-size: 42px;
        line-height: 55px;
    }
    .app_pricing .single_tbl .tbl_header h1 .dollar {
        font-size: 28px;
        left: -21px;
        top: -17px;
    }
    .app_pricing .section_title > h2 {
        max-width: 480px;
    }
    
    .app_testimonial .section_title h2 {
        max-width: 470px;
    }
    
    
    .app_newsletter .subscribe_form .title_36 {
        font-size: 34px;
        line-height: 45px;
    }
    .app_newsletter .subscribe_form input {
        width: 100%;
    }
    .app_newsletter .subscribe_content {
        padding-right: 0;
    }
    .app_newsletter .subscribe_form > .ptb_100 {
        padding: 90px 15px 90px 35px;
    }
    
    .app_team .section_title h2 {
        margin: 0 auto;
        max-width: 360px;
    }
    .app_team .team_common {
        border: 5px solid #f6f6f6;
        padding: 25px 15px;
    }
    
    
    .download_app {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .download_app .download_mocup {
        max-width: 450px;
        right: 20px;
    }
    .download_app .download_content {
        padding-right: 86px;
    }
    .download_app .download_btn li > a {
        width: 200px;
        height: 53px;
    }
    
    .app_contact .section_title h2 {
        max-width: 470px;
    }
    .app_contact .abform_area .abinput_group {
        width: 47.8%;
    }
    
    .app_footer .footer-logo-area {
        align-items: flex-start;
        flex-flow: column;
        justify-content: center;
    }
    .app_footer .footer-logo-area li .footer-logo {
        max-width: 170px;
    }
    .app_footer .footer-logo-area li .copyright {
        margin-top: 5px;
    }
    
    
    
    
    
} /*---end 992-1199px---*/


@media (max-width: 991px) {
    .app_header .menuzord .login_access {
        float: none;
        margin-top: 0;
        position: absolute;
        right: 65px;
        top: 0;
    }
    .app_header .menuzord .showhide em {
        width: 23px;
        margin: 4px 20px 0;
        background: #fff;
    }
    .app_header .menuzord .login_access li a {
        height: 46px;
        line-height: 45px;
        width: 110px;
    }
    
    .app_header .menuzord-responsive .menuzord-menu {
        background: #2785e6;
        margin-top: 10px;
    }
    .app_header .stuck_menu .menuzord-menu > li > a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        color: #fff;
        padding: 12px 20px;
    }
    .app_header .stuck_menu .menuzord-menu > li:first-child > a {
        border-top: none;
    }
    
    /*---banner----*/
    .app_banner {
        padding-top: 110px;
        padding-bottom: 10px;
    }
    .app_banner .shape1 {
        top: 240px;
        border-radius: 70px;
    }
    .app_banner .shape2 {
        right: -775px;
    }
    .app_banner .shape3 {
        border-radius: 90px;
        right: -783px;
    }
    .app_banner .app_img {
        height: 460px;
        max-width: 560px;
        margin: 0 auto;
    }
    .app_banner .app_img1 {
        right: 60px;
    }
    .app_banner .app_img2 {
        left: 0;
    }
    
    .app_banner .banner_content {
        text-align: center;
    }
    
    .section_padding {
        padding: 80px 0 90px;
    }
    
    /*-----about section----*/
    .app_about {
        padding-bottom: 40px;
    }
    .app_about .intro_common {
        margin-bottom: 50px;
    }
    
    /*---at a glance----*/
    .at_a_glance {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .at_a_glance:before {
        bottom: -25px;
    }
    .at_a_glance .glance_img {
        display: none;
    }
    .at_a_glance .glance_content {
        padding-right: 0;
        text-align: center;
        padding: 0 20px;
    }
    .at_a_glance .section_title h2 {
        margin: 0 auto;
    }
    .at_a_glance .section_title .line {
        margin: 0 auto;
    }
    .at_a_glance .glance_content > p {
        max-width: 100%;
    }
    .at_a_glance .glance_content a.readmore {
        margin-left: auto;
        margin-right: auto;
    }
    
    /*-------feature section--------*/
    .feature_section {
        padding-top: 138px;
        padding-bottom: 90px;
    }
    .feature_section:before {
        bottom: -20px;
    }
    .feature_section .feature_content {
        padding-left: 0;
        margin-top: 40px;
        text-align: center;
    }
    .feature_section .feature_content .line {
        margin: 0 auto;
    }
    .feature_section .feature_content a.readmore{
        margin-left: auto;
        margin-right: auto;
    }
    
    /*----video section----*/
    .video_section .video_content {
        height: 580px;
    }
    .video_section .video_content h2 {
        padding-top: 118px;
    }
    
    
    /*------pricing section-------*/
    .app_pricing {
        padding-bottom: 60px;
    }
    .app_pricing .single_tbl .tbl_header {
        padding: 36px 20px 10px;
    }
    .app_pricing .single_tbl .tbl_header h1 {
        font-size: 26px;
        line-height: 35px;
    }
    .app_pricing .single_tbl .tbl_header h1 .dollar {
        font-size: 19px;
        left: -15px;
        top: -12px;
    }
    .app_pricing .single_tbl.popular .tbl_header {
        padding: 26px 20px 20px;
    }
    .app_pricing .single_tbl.popular .tbl_header .rating li i {
        font-size: 13px;
    }
    .app_pricing .single_tbl.popular .tbl_header .rating {
        margin-bottom: 10px;
    }
    .app_pricing .single_tbl .tbl_body h5.plan_type {
        padding: 21px 15px 17px;
        line-height: 25px;
    }
    .app_pricing .single_tbl.popular .tbl_btn {
        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    /*-----screenshot section-----*/
    .screenshot {
        background: #fafafa;
        padding: 80px 0;
    }
    .screenshot .screenshot_content {
        display: block;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .screenshot .section_title {
        padding-bottom: 50px;
    }
    .screenshot .section_title .line {
        margin: 0 auto;
    }
    .app_testimonial .testimonial_wrapper .owl-next::before {
        height: 25px;
        top: 7px;
    }
    .app_testimonial .testimonial_wrapper .owl-prev,
    .app_testimonial .testimonial_wrapper .owl-next {
        bottom: -52px;
        margin-top: -18px;
        top: inherit;
    }
    
    /*---team section----*/
    .app_team .team_common {
        margin-bottom: 30px;
    }
    .app_team {
        padding-bottom: 60px;
    }
    
    /*--------app download section------*/
    .download_app {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .download_app .download_mocup {
        max-width: 520px;
        width: 100%;
        right: inherit;
        position: relative;
        top: 0;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        left: 50%;
        margin-bottom: 40px;
    }
    .download_app .download_content {
        padding-right: 0;
        text-align: center;
    }
    .download_app .section_title > h2 {
        max-width: 100%;
    }
    .download_app .section_title .line {
        margin: 0 auto;
    }
    .download_app .download_content .section_title {
        padding-bottom: 50px;
    }
    
    
    /*--------contact section-------*/
    .app_contact .wrapper {
        padding-bottom: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .app_contact .contact_address {
        box-shadow: 0px 3px 42px 0px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        margin-top: 60px;
        height: auto;
        display: block;
    }
    .app_contact .contact_address .social_contact {
        margin-top: 10px;
    }
    
    
    /*------footer section-------*/
    .app_footer {
        padding: 30px 0;
    }
    .app_footer .overlay {
        display: none;
    }
    .app_footer .footer-logo-area {
        align-items: center;
        text-align: center;
        margin-top: 18px;
    }
    .app_footer .social_icon {
        text-align: center;
    }
    .app_footer .footer-logo-area li .copyright {
        margin-top: 7px;
    }

    
    
}/*-----end 768-991-----*/


@media (max-width: 767px){
    .container {
       max-width: 540px;
    }
    
    .app_banner .shape1 {
        width: 450px;
    }
    .app_banner .banner_content h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .app_banner .banner_content h5 {
        font-size: 16px;
        line-height: 28px;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .app_banner .app_img1 {
      right: 0;
    }
    
    .section_title {
        padding-bottom: 60px;
    }
    .section_title > h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .feature_section .intro_common {
        margin-bottom: 30px;
    }
    
    .app_pricing .single_tbl.popular {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    .app_pricing .single_tbl {
        margin-bottom: 30px;
    }
    
    
    /*---newsletter---*/
    .app_newsletter .subscribe_content {
        display: block;
    }
    .app_newsletter .subscirbe_img {
        display: none;
    }
    .app_newsletter .subscribe_form {
        width: 100%;
    }
    .app_newsletter .subscribe_form > .ptb_100 {
        padding: 80px 15px 90px 30px;
    }
    
    .app_contact .contact_content h3.contact_title {
        text-align: center;
    }
    .app_contact .contact_content h3.contact_title::before,
    .app_contact .contact_address h4::before {
        display: none;
    }
    
    .app_contact .contact_content h3.contact_title {
        margin-bottom: 20px;
    }
    .app_contact .abform_area .abinput_group {
        width: 100%;
        float: none!important;
    }
    .app_contact .abform_area .abinput_group:nth-child(even) {
        margin-left: 0;
    }
    
    
    
    
   
}/*-----end 576-767-----*/


@media (max-width: 575px){
    img.header_logo {
        height: 30px;
    }
    
    .app_header {
        padding: 70px 0 0 0;
    }
    .app_header .menuzord-responsive .showhide {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        -o-transform: translateX(14px);
        transform: translateX(14px);
    }
    .app_header .menuzord-responsive .menuzord-brand {
        margin: 8px 0px 10px 0px;
    }
    .app_header .menuzord .login_access {
        right: 50%;
        top: -50px;
        width: 220px;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
    
    .app_banner {
        padding-top: 150px;
    }
    .app_banner .shape2 {
        right: -905px;
    }
    .app_banner .shape3 {
        right: -912px;
    }
    .app_header .menuzord .login_access {
        box-shadow: 0 0px 12px rgba(0,0,0,0.1);
    }
    
    .app_banner .app_img1 {
        right: 50%;
        margin-right: 20px;
        max-width: 330px;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
    .app_banner .app_img2 {
        display: none;
    }
    .app_banner .banner_content {
        margin-top: 40px;
    }
    .app_banner .banner_content h1 {
        font-size: 24px;
        line-height: 34px;
    }
    .app_banner .banner_content .app_link li{
        display: block;
    }
    .app_banner .banner_content .app_link .google_play {
        margin-right: 0;
        margin-bottom: 15px;
    }
    
    .section_title {
        padding-bottom: 30px;
    }
    .section_title > h5 {
        font-size: 18px;
        line-height: 28px;
    }
    .section_title > h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .section_title .line {
        width: 60px;
        height: 2px;
    }
    
    .app_about .intro_common {
        padding: 25px 15px;
    }
    
    .at_a_glance .glance_content {
        padding: 0;
    }
    .feature_section:before,
    .at_a_glance:before {
        display: none;
    }
    
    .feature_section {
        padding-top: 90px;
    }
    .video_section .video_content {
        height: 530px;
    }
    .video_section .video_content h2 {
        padding-top: 45px;
        font-size: 24px;
        line-height: 34px;
        max-width: 230px;
        margin: 0 auto;
    }
    .app_pricing .single_tbl .tbl_body h5.plan_type {
        font-size: 18px;
        line-height: 28px;
    }
    
    .screenshot .section_title {
        padding-bottom: 30px;
    }
    .screenshot .screenshot_carousel .single_screenshot {
        padding: 40px 20px;
    }
    .screenshot .screenshot_carousel .owl-nav {
        text-align: center;
    }
    .screenshot .screenshot_carousel .owl-prev,
    .screenshot .screenshot_carousel .owl-next {
        margin: 0 5px;
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        opacity: 1;
        visibility: visible;
    }
    
    .app_testimonial .testimonial_wrapper .author_img {
        left: 50%;
        margin-left: -45px;
        margin-top: 0;
        position: relative;
        top: 0;
        margin-bottom: 20px;
    }
    .app_testimonial .testimonial_wrapper .single_testimonial {
        padding: 20px;
        text-align: center;
    }
    .app_testimonial .testimonial_wrapper .owl-nav {
        text-align: center;
        margin-top: 30px;
    }
    .app_testimonial .testimonial_wrapper .owl-prev,
    .app_testimonial .testimonial_wrapper .owl-next {
        top: inherit;
        position: relative;
        display: inline-block;
        left: inherit;
        margin: 0 5px;
        bottom: inherit;
        z-index: 2;
    }
    
    
    .app_newsletter .subscribe_form span.line {
        height: 2px;
        width: 60px;
        margin: 0 auto;
    }
    .app_newsletter .subscribe_form .title_36 {
        font-size: 24px;
        line-height: 34px;
    }
    .app_newsletter .subscribe_form {
        text-align: center;
    }
    .app_newsletter .subscribe_form > .ptb_100 {
        padding: 80px 5px 90px 20px;
    }
    .app_newsletter .subscribe_form form > span {
        text-align: left;
        line-height: 18px;
        margin-top: 5px;
    }
    .app_newsletter .subscribe_form button {
        margin-left: auto;
        margin-right: auto;
    }
    
    .app_team .team_common .member_info {
        text-align: center;
    }
    .app_team .member_info .line {
        margin: 12px auto;
    }
    
    .download_app .download_mocup {
        max-width: 290px;
    }
    .download_app .download_btn li{
        display: block;
    }
    .download_app .download_btn li.google_play {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .download_app .download_btn li > a {
        margin: 0 auto;
    }
    
    .app_contact .contact_content h3.contact_title {
        font-size: 20px;
        line-height: 30px;
    }
    .app_contact .abform_area .abinput_group.msg textarea {
        padding-right: 50px;
    }
    .app_contact .abform_area button {
        font-size: 50px;
    }
    .app_contact .contact_address h4 {
        text-align: center;
    }
    .app_contact .contact_address {
        padding: 45px 15px;
        text-align: center;
    }
    .app_contact .contact_address p {
        padding-left: 0;
    }
    .app_contact .contact_address p i {
        left: -9px;
        position: relative;
        top: 2px;
    }
    
    .app_footer .social_icon > li:first-child {
        display: block;
    }
    .app_footer .social_icon > li {
        margin: 0 7px;
    }
    
    
    
    
}/*-----end 300-575-----*/


