<section class="app_banner pos_relative">
        <span class="shape1"></span>
        <span class="shape2"></span>
        <span class="shape3"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="banner_content">
                        <h1 class="fw_600 color_252">WEB, MOBILE, CMS, E-COMMERCE & CLOUD SOLUTIONS</h1>
                        <h5 class="title_20 color_55 opens pt_45 pb_60">StableFlow is a software development company driven to deliver uncompromising quality, efficiency, and customer service.

We provide a full range of outsourcing services to create and support custom Web and Mobile applications.</h5>
                        <ul class="app_link d_inline">
                            <li class="google_play"><a href=""><span><i class="fa fa-android"></i>Google Play</span></a></li>
                            <li class="app_store"><a href=""><span><i class="fa fa-apple"></i>App Store</span></a></li>
                        </ul>
                    </div>
                </div>
                <!--/col-->

                <div class="col-lg-6  order-1 order-lg-2 pos_relative">
                    <div class="app_img">
                        <img src="images/app-demo-1.png" alt="app img" class="img-fluid app_img1">
                        <img src="images/app-demo-2.png" alt="app img" class="img-fluid app_img2">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
    ==End banner section style== 
    =======================================-->


    <!-- ======================================= 
    ==start about section style== 
    =======================================-->
    <section class="app_about section_padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title text-center pb_80">
                        <h5 class="title_20 color_88">About Us</h5>
                        <h2 class="fw_600 color_22 pt_15 pb_25">Amazing Features Satisfy you with Our Great Application</h2>
                        <span class="line"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="intro_common text-center">
                        <span class="d_inline radius_100p pos_relative"><i class="ion-ios-loop"></i></span>
                        <div class="intro_text">
                            <h5 class="pt_20 pb_10">Fast Loading</h5>
                            <p class="color_7c7">Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</p>
                        </div>
                    </div>
                </div>

                <!--intro box-2-->
                <div class="col-lg-4 col-md-6">
                    <div class="intro_common text-center">
                        <span class="d_inline radius_100p pos_relative"><i class="ion-ios-paper-outline"></i></span>
                        <div class="intro_text">
                            <h5 class="pt_20 pb_10">Simple & clean UI</h5>
                            <p class="color_7c7">Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</p>
                        </div>
                    </div>
                </div>

                <!--intro box-3-->
                <div class="col-lg-4 col-md-6">
                    <div class="intro_common text-center">
                        <span class="d_inline radius_100p pos_relative"><i class="ion-ios-browsers-outline"></i></span>
                        <div class="intro_text">
                            <h5 class="pt_20 pb_10">Multi themes support</h5>
                            <p class="color_7c7">Praesent turpis mauris, aliquet id dolor Gravida adipiscing lectus ut rutrum Aenean at posuere risus.</p>
                        </div>
                    </div>
                </div>
                <!--/intro box-->
            </div>
        </div>
    </section>