<section class="serviceDetails section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h2>{{title}}</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" dynamicHeight="true">

        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind1.png" alt="" />

                <h5>Swift</h5>
            </ng-template>

            <h3>Swift</h3>
            <p>
                A multi-purpose language used for developing apps for various iOS devices from Apple TV, to Apple Watch to iPhone and iPad devices.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind2.png" alt="" />
                <h5>Objective-C</h5>
            </ng-template>

            <h3>Objective-C</h3>
            <p>
                Object oriented and General Purpose Mobile App development language for developing next-generation iOS devices such as OS X.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind3.png" alt="" />

                <h5>React Native</h5>
            </ng-template>

            <h3>React Native</h3>
            <p>
                Robust and the most sought-after Mobile App Development toolset for native and custom mobile application development for Android to iOS device line-up.    
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind4.png" alt="" />
                <h5>Java</h5>
            </ng-template>

            <h3>Java</h3>
            <p>
                For native and custom mobile app development, we are a mobile app development company that rule the world of Java.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind5.png" alt="" />
                <h5>Android Wear</h5>
            </ng-template>

            <h3>Android Wear</h3>
            <p>
                Complete range of technology and toolset for developing intuitive and interactive wearable devices integrated with useful API for better experience.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind6.png" alt="" />
                <h5>PhoneGap</h5>
            </ng-template>

            <h3>PhoneGap</h3>
            <p>
                Find expert mobile app developers helping you develop hybrid app experiences for iOS, Android and Windows devices while relinquishing astute native-like experience.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind7.png" alt="" />
                <h5>Ionic</h5>
            </ng-template>

            <h3>Ionic</h3>
            <p>
                We are expert Mobile App Development Company that helps you get global merchandising by providing powerful hybrid mobile app development on platforms such as Ionic.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind8.png" alt="" />
                <h5>Sencha Touch</h5>
            </ng-template>

            <h3>Sencha Touch</h3>
            <p>
                For added User Interface for much better user experience and enhanced overall app feel. Find expert mobile app developers and designers at CIS that help you render the needed quality.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/images/mobile-ind9.png" alt="" />
                <h5>Xamarin</h5>
            </ng-template>

            <h3>Xamarin</h3>
            <p>
                Cross platform app development language used in building web apps, mobile applications for windows, iOS, Android with high community support.
            </p>
        </mat-tab>
        
    </mat-tab-group>
</section>