<section class="section_padding engagement_models">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h5>Engagement Models</h5>
                    <h2>Dedicated team model</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div clsas="col-12">
                <p class="contentText">Building your application, you need to have a dedicated development team that
                    will be working solely on your project. This means all their creativity, effective ideas, and
                    precious time will be focused on your business development. We believe that working on more than
                    one project at a time is unprofessional and unacceptable. That’s why we prefer working by a
                    dedicated team model.</p>
                <h4>We can help you</h4>
                <div clsas="col-12">
                    <ul class="row">
                        <li class="col-12 col-md-4"><i class="ion-checkmark-circled"></i>Reduce your time-to-market</li>
                        <li class="col-12 col-md-4"><i class="ion-checkmark-circled"></i>Seamlessly provide feedback</li>
                        <li class="col-12 col-md-4"><i class="ion-checkmark-circled"></i>Save up to 50% on resources</li>
                        <li class="col-12 col-md-4"><i class="ion-checkmark-circled"></i>Get the best out of your team</li>
                        <li class="col-12 col-md-4"><i class="ion-checkmark-circled"></i>Fill gaps in your skillset</li>
                        <li class="col-12 col-md-4"><i class="ion-checkmark-circled"></i>Focus on your core business</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="variaty">

        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h2>Types of dedicated teams</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center dedicatedTeam">
            <div class="col-12 col-md-4 model1 ">
                <div class="models">
                    <div class="curve"></div>
                    <h3>Extension of your in-house team</h3>
                    <p>Here’s a quick and comfortable way to enlarge your in-house IT team, adding developers with relevant skills and expertise. Integration of new people goes smoothly as they communicate with your existing team to ensure knowledge transfer. Hiring our employees as contractors carries less risk than hiring in-house staff: We know our people are competent and reliable, and we can back them up immediately with technology support and education if they face an issue.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 model2 ">
                <div class="models">
                    <div class="curve"></div>
                    <h3>Full-cycle development team</h3>
                    <p>Stableflow forms a comprehensive, full-time dedicated software development team that takes care of day-to-day activities, including IT infrastructure, business analysis, project management, design, development, testing, deployment, enhancement. You will have 24/7 access to Jira and get timely status reports as well as scheduled calls with the team. On top of that, you will get a stable and reliable team, as the average tenure of Stableflow’s employees is 4 years.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 model3">
                <div class="models">
                    <div class="curve"></div>
                    <h3>Technical support and maintenance team</h3>
                    <p>A software project is not finished when all the features are delivered. And no one is more familiar with the project than the team that worked on creating it. We set up a dedicated team to support your requests, ranging from minor changes to functionality extension and integration of new features, making sure changes are in line with your long-term product development plans.</p>
                </div>
            </div>
        </div>
</section>
<section class="staffManagment">
    <div class="container">
            <div class="row">
                    <div class="col-12 col-md-8">
                            <h3 class="text-center">Staff management</h3>
                            <p>You can be sure that within such team model all working processes are under control of our Project Managers. Deadlines, the scope of work and its quality - everything is managed to provide you with an app that will be your good money maker. We never allow chaos in what we do. Consequently, our PMs plan each application production to meet all deadlines, get rid of unwanted interruptions, and provide a smooth logical process. Having staff management on top of your project guarantees you stability and cohesion during the app development and high quality of the end product. As project managers also control budget, you won’t face unexpected spendings.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="/assets/images/service-tab.png" alt="" />
                        </div>
            </div>
    </div>
 
   
</section>