@import "../../app.component.scss";
.engagement_models {
    p{
        margin-bottom: 40px;
    }

    ul{
        li {
            float: left;
            width: 25%;
            padding-left: 12px;
            padding-right: 4px;
            margin: 15px 0 0;
            position: relative;

            &::before {
                content: '';
                width: 5px;
                height: 5px;
                background-color: $darkBlue;
                display: inline-block;
                position: absolute;
                top: 10px;
                left: 0;
                border-radius: 50%;
            }
        }
    }
}

.staffManagment {
   
    position: relative;
    overflow: hidden;
    padding: 50px 0 0;
    margin: -3px 0 0;
   &:after {
       content: '';
       background: $btnSecondColor;
       width: 51%;
       height: 160%;
       position: absolute;
       top: -6px;
       right: -100px;
       transform: rotate(-64deg);
       z-index: -1;
   
   }
}

.variaty {
    .models {
        
        border-bottom-width: 3px;
        border-bottom-color: $btnSecondColor;
        border-bottom-style: solid; 
        overflow: hidden;
        padding: 20px 15px;
        transition: all 0.4s ease-out;
        p, h3{
            position: relative;
            z-index: 1;
            transition: all 0.4s ease-out;
        }
        h3 {
            font-size: 20px;
            text-align: center;
            font-weight: 600;
            font-family: $third-font-family;
            width:60%;
            margin: 0 auto 20px;
        }
        .curve {
            position: absolute;
            z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s linear;
    &:before {
        content: '';
        width: 130%;
        height: 240px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: -15%;
        background: transparentize($btnThirdColor,.2);
        
        z-index: 1;
        transform: translate(0, -50%);
        opacity: 0;
        transition: all 300ms ease;
    }
    &:after {
        content: '';
        width: 130%;
        height: 320px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: -15%;
        z-index: 0;
        background: transparentize($btnThirdColor,.2);
        transform: translate(0, -50%);
        opacity: 0;
        transition: all 300ms ease;
    }
        }
       &:hover {
        background: $btnSecondColor;
        p, h3{ 
            color:$lightColor;
         
        }
        .curve {
            opacity: 1;
            &:before {
                opacity: 1;
                transform: translate(0% , -20%);
                transition: all 0.6s linear;
            }
            &:after {
                opacity: 1;
                transform: translate(0% , -20%);
                transition: all 0.9s linear;
            }
        }
       }
    }

 

}