@import "common/variables";
@import "common/mixin";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "common/fonts";

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}

body {
  padding: 0;
  font-size: 15px;
  line-height: 26px;
  margin: 0 auto;
  font-family: $primary-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

sf-header,
sf-footer {
  display: block;
}

.app_landing_body {
  overflow: hidden;
}

.app_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 0;
}

*:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figur,
a {
  margin: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $primary-font-family;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
}

P,
.p {
  font-family: $primary-font-family;
  font-size: 15px;
  line-height: 26px;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
input:focus,
button:focus,
a:active {
  text-decoration: none;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

/*------------0.1 End Resset Css----------------------*/

/*-----------2.3 heading tag Typogrpahy------------*/

h1,
.h1 {
  font-size: 50px;
  line-height: 65px;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 54px;
}

h3,
.h3 {
  font-size: 30px;
  line-height: 42px;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 34px;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 28px;

  @include respond-to("medium-large") {
    font-size: 15px;
  }
}

h6,
.h6 {
  font-size: 16px;
  line-height: 26px;
}

.mb_70 {
  margin-bottom: 70px;
}

.container {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/*-------------03. scroll top css-----------*/
.scroll_top {
  background: $darkBlue none repeat scroll 0 0;
  border-radius: 3px;
  bottom: 50px;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: 40px;
  z-index: 99;
}

.scroll_top:hover i {
  color: black;
}

.not_visible {
  visibility: hidden;
  display: none;
}

.scroll_top i {
  color: $lightColor;
  font-size: 24px;
  line-height: 38px;
}

.section_padding {
  padding: 70px 0 70px;

  @include respond-to("medium-large") {
    padding: 60px 0;
  }
}

.section_padding2 {
  padding: 130px 0;
}

.section_title {
  padding-bottom: 80px;

  h5 {
    text-transform: uppercase;
    color: $lightGrey;
  }

  h2 {
    margin: 0 auto;
    max-width: 730px;
    width: 100%;
    padding-bottom: 25px;
    font-size: 29px;
    font-weight: 600;
    padding-top: 15px;
    @include respond-to("extra-small") {
      font-size: 25px;
    }
  }

  .line {
    display: block;
    width: 100px;
    height: 3px;
    background: $btnFirstColor;
    margin: 0 auto;
  }
}

.pos_relative {
  position: relative;
}

mat-form-field ::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }

  .mdc-text-field {
    overflow: visible;
  }

  .mat-mdc-form-field-infix {
    padding-bottom: 0;
  }
  .mat-mdc-form-field-focus-overlay {
    opacity: 0!important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: $primary-color !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.successPopover {
  @include transition(opacity $animation-speed linear);

  margin-top: 20px;
  background: lighten($btnThirdColor, 30%);
  color: $primary-color;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.errorPopover {
  @extend .successPopover;

  background: $red;
  border: none;
  color: $lightColor;
}

.messageActive {
  visibility: visible;
  opacity: 1;
}
