@import "./../../app.component.scss";


.mobilePlatforms {
    padding: 0;

    .heading {
        text-align: center;
        padding: 80px 40px 20px 40px;
        margin-top: 50px;
        h1 {
            margin: 20px 0 20px 0;
        }
    
    }
}