@import "../../app.component.scss";

.engagement_models {
    p {
        margin-bottom: 40px;
    }
    h4 {
        margin-bottom: 20px;
    }
    ul {
        li {
            margin-left: 0;
            padding-left: 0;
            -webkit-font-smoothing: antialiased;
            font-family: 'Open Sans';
            font-size: 15px;
            margin-bottom: 10px;
        
            i {
                color: $btnThirdColor;
                margin-right: 10px;
            }
        }
    }
    @include respond-to("extra-small") {
        p {
            margin: 0 20px 20px;
            text-align: justify;
        }
        h4 {
            margin: 20px;
            text-align: center;
        }
        ul {
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            li::before {
                content: none;
            }
        }
    }
}

.dedicateResource {
    padding-top: 56px;
}

.resourcesBlock1 {
    background: #fdfdfd;
    border: $border;
    border-radius: 5px;
    padding: 24px;
    text-align: center;
    height: 100%;
    .count-value {
        color: $btnSecondColor;
        font-family: $second-font-family;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 38px;
        span {
            color: $lightgreyBg;
        }
    }

    .icons {
        font-size: 65px;
        color: $btnThirdColor;
    }
}
.resourceTitle {
    font-family: $third-font-family;
    text-transform: uppercase;
    color: $darkGrey;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 11px;
}

.dedicateResource {
    margin-bottom: 40px;
}
.offshoreImg {
    svg {
        width: 80px;
        .a {
            fill: $btnThirdColor;
        }
        .b {
            fill: $btnSecondColor;
        }
    }
}
.rModel {
    border-top: $border;
    padding-top: 30px;
    padding-bottom: 30px;


    svg {
        width: 80px;
        height: 80px;

        .a {
            fill: $btnThirdColor;
        }
        .b {
            fill: $btnSecondColor;
        }
    }
}
