<section class="section_padding engagement_models">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h5>Grow your Team with the Top 1% IT Talent.</h5>
                    <h2>
                            IT Staff Augmentation</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div clsas="col-12">
                <p class="contentText">What makes our business process model unbeatable is its flexibility. Clients'
                    requirements constantly change (either by choice or chance), and we adjust to these changes anytime
                    before delivery. Our engagement models are beneficial to clients because they propose competitive
                    prices, dedicated resources, no hidden costs, and zero overheads. We want to work with you to the
                    best of our abilities.</p>
                <h4>Some of the benefits of choosing our engagement models</h4>
                <ul>
                    <li>No complexities </li>
                    <li>Transparent quotes</li>
                    <li>Secured development environment</li>
                    <li>No compromise with quality</li>
                    <li>Calculated costs and budgeted rates</li>
                    <li>Close-knit support</li>
                    <li>100% Privacy Maintained</li>
                    <li>Standardized Approach</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="makeaChoice">
    <div class="container">
        <div class="section_title text-center">
            <h2>You are free to make a choice- Choose <br>
                from our range of models that suits you best
            </h2>
            <span class="line"></span>
        </div>
        <div class="row">

            <div class="offshoreImg col-2"> <img alt="Offshore Developer" src="https://www.konstantinfo.com/img/offshore.png">
            </div>
            <div class="offshoreDetail col-10">
                <h3>Hire a Developer Model</h3>
                <p>As an experienced Information Technology solutions provider, we understand your concerns towards
                    having a managerial control over the development process. So, we present to you our 'Hire a
                    Developer' Model that lets you hire dedicated web developers, web designers, mobile application
                    developers and SEO experts. This model further provides 3 options that highlight your needs and
                    requirements.</p>
            </div>
        </div>
        <div id="col-manage-block-heights1" class="row dedicateResource">
            <div class="col-sm-4">
                <div class="resourcesBlock1 col-block-height">
                    <div class="count-value">01.<span>/03</span></div>
                    <i class="icons ion-android-stopwatch"></i>
                    <div class="resourceTitle"> Full-time Hire </div>
                    <p>One of the most popular options under our Hire a Developer model. Most clients prefer this
                        option as it employs direct and clear communication with the person working on the project
                        and to provide them full control over the development process. You can hire experts in web
                        development, web designing, mobile app development and SEO throughout the duration of your
                        project development.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="resourcesBlock1 col-block-height">
                    <div class="count-value">02.<span>/03</span></div>
                    <span class="ion-ios-speedometer-outline icons"></span>
                    <div class="resourceTitle"> Part-time Hire </div>
                    <p>As the name implies, in part-time hiring model, we provide you with an expert who will work
                        for a minimum of 80 hours monthly towards your project, employed for 5 days/week.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="resourcesBlock1 col-block-height">
                    <div class="count-value">03.<span>/03</span></div>
                    <i class="icons ion-clock"></i>
                    <div class="resourceTitle"> Hourly Hire </div>
                    <p>For small projects and to cater to small business needs, we have yet another model that
                        works on an hourly basis. You can hire our expert based on the number of working hours. The
                        hiring period is minimum 25 hours, which can be further extended to a decent number of
                        hours as per development requirements and business process.</p>
                </div>
            </div>
        </div>

        <div class="row rModel">

            <div class="col-2"> <img alt="Fixed Price" src="https://www.konstantinfo.com/img/fixedRate.png">
            </div>
            <div class="col-10">
                <h3>Fixed&nbsp;Price</h3>
                <p>This model is well suited to clients who have well-structured process to gather requirements,
                    scope, deliverable and acceptance criteria for the project. As you provide to us a clear idea,
                    requirements, scope along with the deliverable and acceptance, we execute the projects on a
                    fixed-price and billing basis. During development, we provide phase-wise delivery and keep up
                    with the delivery schedules. Consider it as one of the most effective and convenient models to
                    cut down on your costs and stay within budget.</p>
            </div>

        </div>
        <div class="row rModel">

            <div class="col-2"> <img alt="Time and Material" src="https://www.konstantinfo.com/img/timemate.png">
            </div>
            <div class="col-10">
                <h3>Time and&nbsp;Material</h3>
                <p>This is used when the resources and time can’t be estimated upfront, at the start. For a project
                    that has a constantly-evolving scope and constantly-changing requirements, our Time &amp;
                    Material model is perfect. It's a great agile model that’s the best fit for iterative and
                    incremental application development. We take your input and considerations at each stage
                    keeping in mind that you require flexibility and continuous changes and advancements in the
                    project. Adding to this, we follow a sorted project management process based on a daily/weekly
                    reporting system, without any complexity. We charge the client based on the number of hours
                    dedicated by each resource.</p>
            </div>
        </div>
        <div class="row rModel">

            <div class="col-2"> <img alt="Time and Material" src="https://www.konstantinfo.com/img/timemate.png">
            </div>
            <div class="col-10">
                <h3>MILESTONE BILLING</h3>
                <p>We recommend this option for complex long-lasting projects with clearly identified phases where either time- or milestone-based payment schedules are preferred. As each and every milestone is properly accomplished, the client is expensed either a portion of the whole project expense or simply a pre-defined sum decided upon ahead of the project. This model provides for better progress monitoring and reduces risks associated with large-scale software endeavors.</p>
            </div>
        </div>
    </div>
</section>