@import "../../app.component.scss";


.intro {
    margin: auto;
    background-color: $btnThirdColor;
    color: $lightColor;
    // padding-bottom: 0 0 50px 0;
    .introText {
        padding: 40px 20px;
        h2 {
            padding: 20px 0px;
            font-weight: 400;
        }
        p {
            color: $lightColor;
            font-size: x-large;
            line-height: 40px;
        }
    }
}

.description {
    padding:  50px  0 50px 0  ;
    .row div {
        margin-bottom: 20px;
    }

    h3 {
        margin: 20px 0;
    }

    img {
        display: block;
        width: 100%;
        max-width: 160px;
        height: 100%;
        margin: 0 auto;
    }

    
}

.benefits {
    text-align: center;
    background-color: $btnThirdColor;
    color: $lightColor;

    padding: 50px;
    .row div {
        margin-bottom: 40px;
    }
    h3 {
        line-height: 40px;
    }
    img {
        display: block;
        width: 100%;
        max-width: 140px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    h4 {
    }
    p {
        margin-top: 30px;
        color: $lightColor;
    }
}

.advantage {
    padding: 50px 0;
    h3 {
        margin-bottom: 30px;
        line-height: 40px;
        text-align: center;
    }
    .advantage-item {
        margin-bottom: 50px;
    }
    .advantage-item h4 {
        margin-bottom: 20px;
        font-weight: 400;
    }
}

.checklist {
    background-color: $btnThirdColor;
    color: $lightColor;
    padding: 40px 0;

    h3 {
        margin: 20px 0;
    }
    p {
        color: $lightColor;
    }
    .frame {
        background-color: $lightColor;
        height: 100%;
        margin: 20px 0;
        border-radius: $default-border-radius;
        li {
            color: $btnThirdColor;
            padding: 10px 0;
        }
        img {
            padding-right: 10px;
        }
    }
}

.contacts {
    margin-top: 80px;

    .row {
        background: no-repeat url("../../../assets/images/staff-aug/blue_graphics.svg");
        background-size: cover;
    }
    img {
        padding-right: 12px;
    }
    h3 {
        padding: 50px 0;
        color: $lightColor;
        text-align: center;
    }
    h4 {
        margin: 30px;
        color: $lightColor;
    }
    .btn {
        text-align: center;
        margin: 40px;
    }
    button {
        text-align: center;
        border-radius: 20px;
        text-transform: uppercase;
        margin: 0 auto;
        border: none;
        background-color: $btnThirdColor;
        border: 1px solid $btnThirdColor;

        color: $lightColor;
        padding: 10px 30px;
        font-weight: 600;
    }

    button:active {
        transform: translateY(1px);
        filter: saturate(150%);
    }

    button:hover {
        background: none;
        border: 1px solid $lightGrey;
        box-sizing: border-box;
    }
}
