@import "../../app.component.scss";

.description {
    padding: 0px 0 80px 0;
    .row div {
        margin-bottom: 20px;
    }

    h3 {
        margin: 20px 0;
    }

    img {
        display: block;
        width: 100%;
        max-width: 160px;
        height: 100%;
        margin: 0 auto;
    }
}

.benefits {
    text-align: center;
    background-color: $btnThirdColor;
    color: $lightColor;

    padding: 50px;
    .row div {
        margin-bottom: 40px;
    }
    h3 {
        line-height: 40px;
    }
    img {
        display: block;
        width: 100%;
        max-width: 140px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    h4 {
    }
    p {
        margin-top: 30px;
        color: $lightColor;
    }
}

.advantage {
    padding-top: 50px;
    h3 {
        margin-bottom: 30px;
        line-height: 40px;
        text-align: center;
    }
    .advantage-item {
        margin-bottom: 50px;
    }
    .advantage-item h4 {
        margin-bottom: 20px;
        font-weight: 400;
    }
    img {
        padding-right: 10px;
    }
}

.checklist {
    h3 {
        margin: 20px 0;
    }
    p {
        // color: $lightColor;
    }
    .frame {
        background-color: $btnThirdColor;
        height: 100%;
        margin: 20px 0;
        border-radius: $default-border-radius;
        padding: 50px;
        padding-right: 0;
        clip-path: polygon(39% 0, 100% 0, 100% 84%, 65% 100%, 0 100%, 0 60%, 0 15%);
        color: $lightColor;

        ul {
        }

        li {
            padding: 10px 0;
        }
        img {
            padding-right: 10px;
        }
    }
}

.contacts {
    margin-top: 80px;

    .row {
        background: no-repeat url("../../../assets/images/staff-aug/blue_graphics.svg");
        background-size: cover;
    }
    img {
        padding-right: 12px;
    }
    h3 {
        padding: 50px 0;
        color: $lightColor;
        text-align: center;
    }
    h4 {
        margin: 30px;
        color: $lightColor;
    }
    .btn {
        text-align: center;
        margin: 40px;
    }
    button {
        text-align: center;
        border-radius: 20px;
        text-transform: uppercase;
        margin: 0 auto;
        border: none;
        background-color: $btnThirdColor;
        border: 1px solid $btnThirdColor;

        color: $lightColor;
        padding: 10px 30px;
        font-weight: 600;
    }

    button:active {
        transform: translateY(1px);
        filter: saturate(150%);
    }

    button:hover {
        background: none;
        border: 1px solid $lightGrey;
        box-sizing: border-box;
    }
}
