<section class="section_padding engagement_models">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h5>Staff Augmentation</h5>
                    <h2>Grow Your Team. Build Better Products. Shrink Costs.</h2>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-12 description">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <h3>What is IT Staff Augmentation?</h3>
                            <p>Have a software development project but not enough hands to complete it? You may be
                                considering offshore IT staff augmentation services. Quickly ramp up (or down) your
                                technical resources with outsourced IT talent you subcontract by the hour to help
                                advance a project. Meet aggressive deadlines, get your product to market faster, and
                                innovate at higher levels with IT team augmentation. </p>
                        </div>
                        <div class="col-md-5  ">
                            <img src="../../../assets/images/staff-aug/staff_icon.svg" alt="staff_icon" class="icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 benefits">
                <div class="container ">
                    <div class="row">
                        <div class="col-12">
                            <h3>Benefits of Software Staff Augmentation</h3>
                        </div>

                        <div class="col-md-3">
                            <img src="../../../assets/images/staff-aug/flexibility_icon.svg" alt="staff_icon"
                                class="icon">
                            <h4>Flexibility</h4>
                            <p>Find short and long-term staff to fill a variety of project needs either on a part-time
                                or hourly basis.</p>
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/images/staff-aug/expertise_icon.svg" alt="staff_icon"
                                class="icon">
                            <h4>Expertise</h4>
                            <p>Rely on the deep knowledge and experience of IT staff augmentation companies to provide
                                experts that can fill high-demand roles and come up to speed quickly. </p>
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/images/staff-aug/shoter_time_icon.svg" alt="staff_icon"
                                class="icon">
                            <h4>Shorter time to hire</h4>
                            <p>Dramatically reduce the time, energy, and resources you would normally spend hiring a new
                                IT professional. </p>
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/images/staff-aug/susperchage_icon.svg" alt="staff_icon"
                                class="icon">
                            <h4>Supercharge your assets
                            </h4>
                            <p>Increase team size up or down while seeing productivity grow quickly and efficiently.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 advantage">
                <div class="container">
                    <h3>The Spiral Scout Advantage</h3>
                    <ul class="row">
                        <li class="col-md-6 advantage-item" *ngFor="let article of advantageArticles">
                            <h4><img src="../../../assets/images/staff-aug/advantage_icon.svg" alt="advantage_icon"
                                    class="icon">
                                {{article.title}}</h4>
                            <p>{{article.text}}</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 checklist">
                <div class="container ">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6">
                            <h3>Software Staff Augmentation Checklist</h3>
                            <p>Spiral Scout checks all the boxes, but even if you don’t use our services this time, keep
                                this software development staff augmentation checklist handy when outsourcing technical
                                work for your next project.</p>
                        </div>
                        <div class="col-md-5  frame ">
                            <ul *ngFor="let list of checklist">
                                <li><img src="../../../assets/images/staff-aug/checklist_icon.svg" alt="checklist_icon">
                                    {{list}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 contacts">
                <div class="container ">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-10">
                            <h3>Ready to get started? We’ll be happy to discuss your project and needs. Reach out today!
                            </h3>
                        </div>
                        <h4 class="col-md-3"><img src="../../../assets/images/staff-aug/envelop.svg"
                                alt="envelop">our.mail@sf.com</h4>
                        <h4 class="col-md-3"><img src="../../../assets/images/staff-aug/phone.svg" alt="phone">(415)
                            903-0235</h4>
                        <div class="col-12 btn">
                            <button (click)="moveTo()">Contact Us</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>