<div class="contact_content">
    <div class="section_title text-center">
        <h5 class="title_20 color_88">Request a quote</h5>
        <h2>Don’t hesitate to contact with us anytime</h2>
        <span class="line"></span>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <h3 class="contact_title  pos_relative">Please submit your project details using the form below and we will
                get back to you promptly regarding your request.</h3>
            <div class="abform_area pos_relative">
                <form class="text-center" #formDirective="ngForm" [formGroup]="myForm"  (ngSubmit)="submit(myForm,formDirective)">


                    <div class="form-group abinput_group name">
                        <input placeholder="FullName *" required formControlName="name" id="name" type="text"
                            class="form-control">
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                            <div *ngIf="f.name.errors.required">Name is required.</div>
                            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
                        </div>
                    </div>

                    <div class="form-group abinput_group email">

                        <input placeholder="Email *" formControlName="email" id="email" type="text"
                            class="form-control">
                        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                            <div *ngIf="f.email.errors.required">Email is required.</div>
                            <div *ngIf="f.email.errors.minlength">Email should be 3 character.</div>
                        </div>
                    </div>

                    <div class="form-group abinput_group phone">

                        <input placeholder="Phone *" formControlName="phone" id="phone" type="text"
                            class="form-control">
                        <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                            <div *ngIf="f.phone.errors.required">Phone is required.</div>
                            <div *ngIf="f.phone.errors.minlength">Phone should be .</div>
                        </div>
                    </div>

                    <div class="form-group abinput_group subject">
                        <input placeholder="Company / Organization" formControlName="company" id="company" type="text"
                            class="form-control">
                        <div *ngIf="f.company.touched && f.company.invalid" class="alert alert-danger">
                            <div *ngIf="f.company.errors.required">Phone is required.</div>
                            <div *ngIf="f.company.errors.minlength">Phone should be .</div>
                        </div>
                    </div>

                    <div class="form-group abinput_group msg">
                        <input placeholder="Project requirements: " formControlName="message" id="message" type="text"
                            class="form-control textarea">
                        <div *ngIf="f.message.touched && f.message.invalid" class="alert alert-danger">
                            <div *ngIf="f.message.errors.required">Message is required.</div>
                            <div *ngIf="f.message.errors.minlength">not less then 40 letters</div>
                        </div>
                    </div>


                    <input multiple formControlName="file" id="file" type="file" class="inputfile form-control"
                        (change)="onFileChange($event)">
                    <label for="file" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                        (fileOver)="fileOverBase($event)" class="my-drop-zone">
                        <i class="ion-ios-upload-outline"></i>Upload file (5mb)</label>
                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                        <div *ngIf="f.file.errors.required">File is required.</div>
                    </div>
                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                        <div *ngIf="f.file.errors.required">File is required.</div>
                    </div>
                    <div *ngIf="myFiles.length > 0" class="filesList">
                        <ul *ngFor="let f of myFiles; index as i">
                            <li>
                                <p>{{f.name}}</p>
                                <button type="button" (click)="deleteFile(i)">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M256,0C114.508,0,0,114.497,0,256c0,141.493,114.497,256,256,256c141.492,0,256-114.497,256-256
                                           C512,114.507,397.503,0,256,0z M256,472c-119.384,0-216-96.607-216-216c0-119.385,96.607-216,216-216
                                           c119.384,0,216,96.607,216,216C472,375.385,375.393,472,256,472z" />
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M343.586,315.302L284.284,256l59.302-59.302c7.81-7.81,7.811-20.473,0.001-28.284c-7.812-7.811-20.475-7.81-28.284,0
                                           L256,227.716l-59.303-59.302c-7.809-7.811-20.474-7.811-28.284,0c-7.81,7.811-7.81,20.474,0.001,28.284L227.716,256
                                           l-59.302,59.302c-7.811,7.811-7.812,20.474-0.001,28.284c7.813,7.812,20.476,7.809,28.284,0L256,284.284l59.303,59.302
                                           c7.808,7.81,20.473,7.811,28.284,0C351.398,335.775,351.397,323.112,343.586,315.302z" />
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <button type="submit" color="info" outline="true" rounded="true" block="true"
                        class="  btnSubmit">
                        <i class="ion-ios-navigate"></i>
                    </button>
                </form>

                <div *ngIf="sendSuccess" class="alert alert-success" [ngClass]="{messageActive: successPopover}">Mesasge was sent successfully</div>
                <div  *ngIf="isError" class="alert alert-danger" [ngClass]="{messageActive: errorText}">{{errorText}}</div>
                <div *ngIf="fileSizedOverloaded" class="alert alert-danger" [ngClass]="{messageActive: errorText}">File sized overloaded Max is 5mb</div>

            </div>

        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="contact_address">
                <h4 class="pos_relative">Contact Information</h4>
                <p class="address pos_relative"><i class="flaticon-placeholder"></i><span
                        class="text-uppercase">ADDRESS:</span>
                    28
                    Green Tower, <br>Street Name New York City, USA</p>
                <p class="phone pos_relative"><i class="flaticon-phone-call"></i><span
                        class="text-uppercase">Phone:</span>+84 846 250 592</p>
                <p class="email pos_relative"><i class="flaticon-mail"></i>
                    <span class="text-uppercase">Email:</span>contact@staker.com</p>
                <p class="web pos_relative"><i class="flaticon-internet"></i><span class="text-uppercase">WEbsite:
                    </span> <a href="#" target="_blank">demostaker.com</a></p>
            </div>
        </div>

    </div>
</div>