<div class="contact_content">
    <div class="section_title text-center">
        <h5 class="title_20 color_88">Request a quote</h5>
        <h2>Don’t hesitate to contact with us anytime</h2>
        <span class="line"></span>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <h3 class="contact_title  pos_relative">Please submit your project details using the form below and we will
                get back to you promptly regarding your request.</h3>
            <div class="abform_area pos_relative">

                <form class="text-center" [formGroup]="myForm" (ngSubmit)="submit()">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" id="name" type="text" class="form-control">
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                            <div *ngIf="f.name.errors.required">Name is required.</div>
                            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input formControlName="email" id="email" type="text" class="form-control">
                        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                            <div *ngIf="f.email.errors.required">Email is required.</div>
                            <div *ngIf="f.email.errors.minlength">Email should be 3 character.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input formControlName="phone" id="phone" type="text" class="form-control">
                        <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                            <div *ngIf="f.phone.errors.required">Phone is required.</div>
                            <div *ngIf="f.phone.errors.minlength">Phone should be .</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <input formControlName="message" id="message" type="text" class="form-control">
                        <div *ngIf="f.message.touched && f.message.invalid" class="alert alert-danger">
                            <div *ngIf="f.message.errors.required">Message is required.</div>
                            <div *ngIf="f.message.errors.minlength">not less then 40 letters</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="file">File</label>
                        <input formControlName="file" id="file" type="file" class="form-control"
                            (change)="onFileChange($event)">
                        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                            <div *ngIf="f.file.errors.required">File is required.</div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <button class=" " type="submit">
                        <p>Submit</p>
                    </button>
                </form>
            </div>

        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="contact_address">
                <h4 class="pos_relative">Contact Information</h4>
                <p class="address pos_relative"><i class="flaticon-placeholder"></i><span
                        class="text-uppercase">ADDRESS:</span>
                    28
                    Green Tower, <br>Street Name New York City, USA</p>
                <p class="phone pos_relative"><i class="flaticon-phone-call"></i><span
                        class="text-uppercase">Phone:</span>+84 846 250 592</p>
                <p class="email pos_relative"><i class="flaticon-mail"></i>
                    <span class="text-uppercase">Email:</span>contact@staker.com</p>
                <p class="web pos_relative"><i class="flaticon-internet"></i><span class="text-uppercase">WEbsite:
                    </span> <a href="#" target="_blank">demostaker.com</a></p>
            </div>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/contact content-->