<section class="section_padding">
        <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title text-center">
                            <h5>About Us</h5>
                            <h2>Everything you need to know</h2>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">StableFlow - software development company focused on software
                            outsourcing services to companies ranging from startups to large enterprise.
                            development company focused on software outsourcing services to
                            companies ranging from startups to large enterprise.
                            StableFlow - software development company focused on software
                            outsourcing services to companies ranging from startups to large enterprise.</div>
              
                <div class="col-4">
                    <img src="assets/images/ixolit-about-3.jpg">
                </div>
                </div>
                <section class="section_padding">
                        <div class="container">
                <div class="row">
                        <div class="col-12">
                            <div class="section_title text-center">
                                <h5>Our Journey</h5>
                                <h2>Everything you need to know</h2>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-4">
                                    <img src="assets/images/contact-bg-2.png">
                                </div>
                            <div class="col-8">We started with a small team that very confidently entered hyper competition and rise through the ranks within a few years.As we grew, we attracted more young talent and experts which made us the most preferred company in Auckland, New Zealand.The innovative solutions we delivered to our local clients built a strong reputation for us.Soon we started working with international clients. So far we have developed 500+ websites, 200+ mobile applications and helped 200+ businesses in achieving top search ranks and reach on social media.

                            </div>
                      
                     </div>
                    </div>
             
                            <div class="container howTo">   
                        <div class="row">
                                <div class="col-12">
                                    <div class="section_title text-center">
                                     
                                        <h2>How We Do Business</h2>
                                        <span class="line"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">  
                                    <div class="col-md-4 col-sm-6 text-center">
                           <div class="aboutus_howwedo_biz2">
                           <img src="/assets/images/feature-icon5.png" alt="">
                           <h5>Putting our clients first</h5>
                           <p>Our team has developed an approach where the client´s needs surpass everything else as we want to be seen as an integral part of their success.</p>
                           </div>
                       </div>
                           
                                   <div class="col-md-4 col-sm-6 text-center">
                           <div class="aboutus_howwedo_biz2">
                           <img src="/assets/images/feature-icon4.png" alt="">
                           <h5>Socially Responsible</h5>
                           <p>At SplashDev social responsibility is very important. We believe in making a positive impact in our community and invest a portion of our profit into NGO driven projects.</p>
                           </div>
                       </div>
                                   <div class="col-md-4 col-sm-6 text-center">
                           <div class="aboutus_howwedo_biz2">
                           <img src="/assets/images/feature-icon6.png" alt="">
                           <h5>Building long-term relationships</h5>
                           <p>Our team puts a strong emphasis on communication and relationship building. We are on a mission to deliver exceptional results while establishing and nurturing valuable business relationships.</p>
                           </div>
                       </div>
                                      <hr class="spacer1px">
                        
                   </div>
            </div>
</section>