

<section class="app_banner pos_relative">
    <span class="shape1"></span>
    <span class="shape2"></span>
    <span class="shape3"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="banner_content">
                    <h1 class="">{{title}}</h1>
                    <h5 class="">{{text}}
</h5>

<sf-btn>Quote request »</sf-btn>
      </div>
            </div>
            <!--/col-->

            <div class="col-lg-6  order-1 order-lg-2 pos_relative">
                <div class="app_img">
                    <img src="assets/images/app-demo-2.png" alt="app img" class="img-fluid app_img1"> 
                    <img src="assets/images/macbook-mc.png" alt="app img" class="img-fluid app_img2"> 
                </div>
            </div>
        </div>
    </div>
</section>