<section class="serviceDetails section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-center">
                    <h5>{{title}}</h5>
                    <h2>{{textBanner}}</h2>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" dynamicHeight="true">

        <mat-tab *ngFor="let cms of cmss">
            <ng-template mat-tab-label>
                <img src="/assets/images/{{cms.imgName}}.png" alt="{{cms.imgName}}-image" />

                <h5>{{cms.title}}</h5>
            </ng-template>

            <h3>{{cms.title}}</h3>
            <p>{{cms.text}}</p>
        </mat-tab>

    </mat-tab-group>
</section>