@import "~../app.component.scss";

.app_banner {
    @include respond-to("medium") {
        padding-top: 120px;
        padding-bottom: 50px;
    }

    padding-top: 160px;
    padding-bottom: 150px;
    position: relative;

    h1 {
        font-weight: 600;
        font-size: 47px;
        line-height: 1.38;
        margin-bottom: 30px;

        @include respond-to("medium-large") {
            font-size: 30px;
            line-height: 1.66;
        }
    }

    h5 {
        font-weight: 600;
        margin-bottom: 30px;
    }

    .banner_content {
        z-index: 4;
        position: relative;
    }

    .app_img {
        position: relative;
        z-index: 4;

        @include respond-to("medium") {
            display: none;
        }
    }

    .app_img1 {
        position: absolute;
        right: -44px;
        top: -30px;
        z-index: 1;

        @include respond-to("medium") {
            display: none;
        }
    }

    .app_img2 {
        position: absolute;
        top: 110px;
        left: 0;
    }
}

.shape1 {
    @include respond-to("small") {
        top: 240px;
        border-radius: 70px;
        width: 450px;
    }

    @include backgroundGradient(45deg, rgb(30, 223, 196) 0%, rgb(39, 133, 230) 100%);
    @include transform(rotate(-47deg));

    position: absolute;
    left: -390px;
    top: 30px;
    width: 540px;
    height: 510px;
    border-radius: 100px;
}

.app_banner .shape2 {
    @include respond-to("small") {
        right: -905px;
        top: -318px;
    }

    @include respond-to("medium") {
        right: -94%;
    }

    @include backgroundGradient(45deg, rgb(30, 223, 196) 0%, rgb(39, 133, 230) 100%);
    @include transform(rotate(-58deg));

    position: absolute;
    right: -415px;
    top: -240px;
    width: 810px;
    height: 1100px;
    border-radius: 80px;
    z-index: 0;
}

.app_banner .shape3 {
    @include respond-to("small") {
        right: -905px;
        top: -318px;
    }

    @include respond-to("medium") {
        right: -94%;
    }

    @include backgroundGradient(20deg, rgb(30, 223, 196) 0%, rgb(39, 133, 230) 100%);
    @include transform(rotate(-58deg));
    position: absolute;
    right: -415px;
    top: -253px;
    width: 804px;
    height: 1190px;
    border-radius: 90px;
    z-index: -1;
}

.app_about {
    padding-top: 30px;

    .intro_common {
        border: $border;
        padding: 30px;
        position: relative;
        margin-bottom: 15px;
        height: calc(100% - 20px);

        &::after {
            @include backgroundGradient(90deg, $btnFirstColor 0%, $btnThirdColor 100%);
            @include transition(all $animation-speed linear);

            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
        }

        &:hover {
            &::after {
                visibility: visible;
                opacity: 1;
            }

            .intro_text p,
            .intro_text h5 {
                color: $lightColor;
            }

            span:before {
                opacity: 1;
                visibility: visible;
            }
        }

        .intro_text {
            z-index: 2;
            position: relative;

            h5 {
                color: $darkGrey;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 15px;
            }

            p {
                font-size: 14px;
            }
        }

        span {
            @include backgroundGradient(0deg, $btnFirstColor 0%, $btnThirdColor 100%);

            align-items: center;
            color: $lightColor;
            display: flex;
            flex-flow: column nowrap;
            font-size: 38px;
            height: 80px;
            justify-content: center;
            margin: 0 auto;
            position: relative;
            width: 80px;
            z-index: 2;
            border-radius: 50%;
            margin-bottom: 30px;

            &::before {
                background: $lightGreen;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                opacity: 0;
                visibility: hidden;
            }

            i {
                z-index: 1;
                position: relative;
            }

            svg {
                width: 50px;
                z-index: 1;
                position: relative;

                &:not(:root) {
                    overflow: hidden;
                }

                path,
                rect {
                    fill: $lightColor;
                    stroke: $lightColor;
                }
            }
        }
    }

    .statistics {
        padding-top: 40px;
        text-align: center;

        .section_title {
            @include respond-to("medium-large") {
                padding-bottom: 0;
            }
        }

        i,
        fa-icon {
            color: $lightGreen;
            font-size: 40px;
            width: 40px;

            @include respond-to("medium-large") {
                font-size: 30px;
            }
        }

        h2 {
            font-size: 50px;
            padding-bottom: 0;

            @include respond-to("medium-large") {
                font-size: 40px;
            }
        }
    }

    .counter {
        margin-top: 100px;
        padding: 0 50px;
        background: center no-repeat url("../../assets/images/enterprises/map.png");
        background-size: 100% 100%;
        @include respond-to("extra-small") {
            display: none;
        }
        .row {
            padding: 15% 0;
        }

        .box {
            text-align: center;
            margin: 20px auto;

            div {
                width: 220px;
                height: 220px;
                position: relative;
                border-radius: 50%;
                margin: 0 auto;
                text-align: center;
                background-color: #fff;
                padding: 20px;
                box-shadow: 15px 20px 30px 0px rgba(0, 0, 0, 0.1);

                i,
                fa-icon {
                    color: $lightGreen;
                    font-size: 40px;

                    @include respond-to("medium-large") {
                        font-size: 30px;
                    }
                }
                :nth-child(2) {
                    font-size: 40px;
                    line-height: 35px;
                    margin: 5px 0 15px;
                    color: black;
                }

                p {
                    font-size: 20px;
                }
            }
            div:after {
                position: absolute;
                content: "";
                background: #fff;
                width: 110%;
                height: 110%;
                left: -10px;
                top: -10px;
                border-radius: 50%;
                box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
                z-index: -1;
            }
        }
    }
}
