@import "./../../app.component.scss";

.portals {
    // margin-top: 100px;
    padding: 0;
    .heading {
        text-align: center;
        padding: 80px 40px 20px 40px;
        margin-top: 50px;
        h1 {
            margin: 20px 0 20px 0;
        }
    }

    .cards {
        padding: 0 20px;
        text-align: center;
        margin: 40px 0;
        > div {
            border-right: 1px solid $lightGrey;
            margin-bottom: 30px;
            padding: 20px 0;
            @include respond-to("medium") {
            border-right: none;

                border-bottom: 1px solid $lightGrey;

            }
        }
        > div:last-child {
            border: none;
        }
        h2 {
            padding: 30px 0;
        }
        p {
            padding: 0 20px;
        }
    }

    .descriptionScenario {
        padding: 0px 100px 50px 100px;
        text-align: center;

        h1 {
            padding: 50px 0 20px 0;
        }
        p {
            font-size: larger;
        }
    }

    .twoSides {
        background: center no-repeat url("../../../assets/images/enterprises/table.png");
        background-size: 65%;
        background-position: bottom;
        @include respond-to("small") {
            background: none;
        }
        .box {
            text-align: center;
            margin: 50px 0;
            @include respond-to("small") {
                margin: 10px 0;
            }
            h3 {
                margin: 0 20px 20px 20px;
            }
            p {
                margin: 0 20px;
            }
        }
    }

    .streamline {
        padding: 40px 0;
        margin: 50px 0 20px 0;
        text-align: center;
        h1 {
            margin: 20px 0 20px 0;
            padding: 0 30px;
        }
        p {
            font-size: larger;
            padding: 15px 80px;
            @include respond-to("small") {
                padding: 15px;
            }
        }
    }

    .features {
        margin-bottom: 70px;
        h3 {
            padding: 20px 0;
        }

        > div {
            margin: 20px 20px;
            padding: 30px;
            border-top: 8px solid $darkBlue;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        }

        li {
            padding: 5px 0;
            position: relative;
            margin-left: 10px;
        }

        li:before {
            content: "";
            position: absolute;
            display: block;
            width: 4px;
            height: 4px;
            top: 1em;
            left: -10px;
            border-radius: 50%;
            background-color: #255ccc;
        }
    }

    .expertise {
        background: no-repeat url("../../../assets/images/enterprises/back.jpg");
        background-size: cover;
        padding: 50px 0;
        margin: 50px 0;
        h2 {
            text-align: center;
            color: $lightColor;
            padding: 0 50px 50px 60px;
        }
        .leftSide {
            padding-left: 50px;
            @include respond-to("medium") {
                padding-left: 0px;
            }
            .btnActive {
                background: $btnThirdColor;
            }
            button {
                margin: 10px;
                background: none;
                display: flex;
                align-items: center;
                border: none;
                border: 1px solid white;
                height: 80px;
                img {
                    margin: 10px;
                }
                p {
                    padding-left: 10px;
                    color: $lightColor;
                }
            }
            button:active {
                background: rgba(255, 255, 255, 0.466);
            }
            button:hover {
                border: 1px solid $btnSecondColor;
            }
        }
        .rightSide {
            margin: 50px auto;
            .col-10 {
                background-color: white;
                text-align: center;
                align-items: center;

                padding: 50px 20px;
                border-radius: $default-border-radius;
                div {
                    margin: 30px auto;
                    // padding: 50px;
                    background-color: $btnSecondColor;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    img {
                        margin: 50px;

                        width: 100px;
                    }
                }

                h3 {
                    margin: 20px 0;
                }
                p {
                    padding: 0 40px;
                }
            }
        }
    }

    .advanced {
        > div {
            padding: 0;
            margin: 10px 0;
        }

        padding: 40px 0;
        margin: 50px 0 20px 0;
        h1 {
            text-align: center;
            padding: 0 30px;
            margin: 60px 0;
        }
        .text-box {
            p {
                padding: 20px 20px 20px 0;
            }
        }
    }

    .toContact {
        padding: 40px 20px;
        text-align: center;
        color: $lightColor;
        background-color: $btnThirdColor;
        h2 {
            padding: 40px 0 10px 0;
        }
        p {
            color: $lightColor;
            margin-bottom: 40px;
        }
        button {
            text-align: center;
            border-radius: 20px;
            text-transform: uppercase;
            margin: 0 auto;
            border: none;
            background-color: $btnThirdColor;
            border: 1px solid $btnThirdColor;

            color: $lightColor;
            padding: 10px 30px;
            font-weight: 600;
        }

        button:active {
            transform: translateY(1px);
            filter: saturate(150%);
        }

        button:hover {
            background: none;
            border: 1px solid $lightColor;
            box-sizing: border-box;
        }
    }
}
