@import "./../../app.component.scss";

.portals {
    padding: 0;
    .heading {
        text-align: center;
        padding: 80px 40px 20px 40px;
        margin-top: 50px;
        h1 {
            margin: 20px 0 20px 0;
        }
    }
    .phases {
        text-align: center;
        margin: 40px 0;
        h4 {
            padding: 30px 0;

            @include respond-to("medium") {
                padding: 0;
            }
        }
        p {
            @include respond-to("medium") {
                padding: 0 10px;
            }
        }
        .phaseText {
            margin: 20px 0;
            padding: 0;
            @include respond-to("medium") {
                margin-bottom: 60px;
                :last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .cross {
            align-items: center;
            width: 90px;
            height: 90px;
            div {
                margin-left: 40%;
                @include respond-to("medium") {
                    margin-left: 55%;
                }
            }
        }
        span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 2px solid $darkBlue;
            border-right: 2px solid $darkBlue;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin: -5px;
            float: left;
            -webkit-animation: animate 2s infinite;
            animation: animate 2s infinite;
        }

        @keyframes animate {
            0% {
                opacity: 0;
                -webkit-transform: rotate(-45deg) translate(-20px, -20px);
                -ms-transform: rotate(-45deg) translate(-20px, -20px);
                transform: rotate(-45deg) translate(-20px, -20px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                -webkit-transform: rotate(-45deg) translate(20px, 20px);
                -ms-transform: rotate(-45deg) translate(20px, 20px);
                transform: rotate(-45deg);
            }
        }
        @include respond-to("medium") {
            span {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                margin: -10px;
                float: none;
            }

            @keyframes animate {
                0% {
                    opacity: 0;
                    -webkit-transform: rotate(45deg) translate(-20px, -20px);
                    -ms-transform: rotate(45deg) translate(-20px, -20px);
                    transform: rotate(45deg) translate(-20px, -20px);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    -webkit-transform: rotate(45deg) translate(20px, 20px);
                    -ms-transform: rotate(45deg) translate(20px, 20px);
                    transform: rotate(45deg);
                }
            }
        }
        span:nth-child(2) {
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
        }
        span:nth-child(3) {
            -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
        }
    }

    .descriptionScenario {
        padding: 0px 100px 50px 100px;
        text-align: center;

        h1 {
            padding: 50px 0 20px 0;
        }
        p {
            font-size: larger;
        }
    }

    .twoSides {
        min-height: 500px;
        background: center no-repeat url("../../../assets/images/enterprises/table.png");
        background-size: 65%;
        background-position: bottom;
        animation: pulse 6s ease-in-out infinite;
        @keyframes pulse {
            from {
                background-size: 65%;
            }
            50% {
                background-size: 75%;
            }
            to {
                background-size: 65%;
            }
        }
     

        @include respond-to("small") {
            background: none;
        }
        .box {
            text-align: center;
            margin: 50px 0;
            @include respond-to("small") {
                margin: 10px 0;
            }
            h3 {
                margin: 0 20px 20px 20px;
            }
            p {
                margin: 0 20px;
            }
        }




    }
  

    .streamline {
        padding: 40px 0;
        margin: 50px 0 20px 0;
        text-align: center;
        h1 {
            margin: 20px 0 20px 0;
            padding: 0 30px;
        }
        p {
            font-size: larger;
            padding: 15px 80px;
            @include respond-to("small") {
                padding: 15px;
            }
        }
    }

    .features {
        margin-bottom: 70px;
        h3 {
            padding: 20px 0;
        }

        > div {
            // background-color: rgba(132, 189, 247, 0.07);
            margin: 20px 20px;
            padding: 30px;
            // border-radius: 15px;
            border-top: 12px solid $btnThirdColor;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        > div:hover {
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);

        }

        li {
            padding: 5px 0;
            position: relative;
            margin-left: 10px;
        }

        li:before {
            content: "";
            position: absolute;
            display: block;
            width: 4px;
            height: 4px;
            top: 1em;
            left: -10px;
            border-radius: 50%;
            background-color: #255ccc;
        }
    }

    .advanced {
        > div {
            padding: 0;
            margin: 10px 0;
        }

        padding-bottom:  0;
        margin: 0px 0 20px 0;
        h1 {
            text-align: center;
            padding: 0 30px;
            margin: 60px 0;
        }
        .row .col-3 {
            text-align: center;
        }
        .text-box {
            p {
                padding: 20px 20px 20px 0;
            }
        }
    }

    .toContact {
        padding: 40px 20px;
        text-align: center;
        color: $lightColor;
        background-color: $btnSecondColor;
        h2 {
            padding: 40px 0 10px 0;
        }
        p {
            color: $lightColor;
            margin-bottom: 40px;
        }
        button {
            text-align: center;
            border-radius: 20px;
            text-transform: uppercase;
            margin: 0 auto;
            border: none;
            background-color: $btnSecondColor;
            border: 1px solid $btnSecondColor;

            color: $lightColor;
            padding: 10px 30px;
            font-weight: 600;
        }

        button:active {
            transform: translateY(1px);
            filter: saturate(150%);
        }

        button:hover {
            background: none;
            border: 1px solid $lightColor;
            box-sizing: border-box;
        }
    }
}
