<h3 class="contact_title  pos_relative">Get Your Dream Job</h3>
<div class="abform_area pos_relative">

    <form class="text-center" novalidate #contactForm="ngForm" (ngSubmit)=" onSubmit(contactForm)">
        <mat-form-field class="abinput_group name ">
            <input type="text" name="contactFormName" required maxlength="60" [(ngModel)]="user.contactFormName"
                #contactFormName="ngModel" class="form-control" matInput matValidate />
            <mat-label for="materialContactFormEmail">FullName</mat-label>
            <mat-error *ngIf="contactForm.submitted && contactFormName.invalid">Name is required
            </mat-error>

        </mat-form-field>

        <mat-form-field class="md-form abinput_group email">
            <input type="email" name="email" [(ngModel)]="user.contactFormEmail" #contactFormEmail="ngModel" pattern="^\S+@\S+$"
                required id="materialContactFormEmail" class="form-control" matInput matValidate />
            <mat-label for="materialContactFormEmail">E-mail</mat-label>
            <mat-error *ngIf="contactForm.submitted && contactFormEmail.invalid">
                <span *ngIf="contactFormEmail.errors.required">Email is required</span>
                <span *ngIf="contactFormEmail.errors.pattern">Wrong email format</span></mat-error>
        </mat-form-field>


        <mat-form-field class="md-form abinput_group phone">
            <input type="text" name="phone" [(ngModel)]="user.contactFormPhone" #contactFormPhone="ngModel" pattern="^\+\d{12}$"
                id="materialContactFormPhone" class="form-control" matInput matValidate />
            <mat-label for="materialContactFormPhone">Phone</mat-label>
            <mat-error *ngIf="contactForm.submitted && contactFormPhone.invalid">Input
                invalid</mat-error>
        </mat-form-field>

        <mat-form-field class="md-form abinput_group msg">
            <textarea type="text" name="message" [(ngModel)]="user.contactFormMessage" #contactFormMessage="ngModel"
                required id="materialContactFormMessage" class="form-control md-textarea" matInput matValidate></textarea>
            <mat-label for="materialContactFormMessage">Cover Letter: </mat-label>
            <mat-error *ngIf="contactForm.submitted && contactFormMessage.invalid">Input
                invalid</mat-error>
            <button color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect text-uppercase"><i
                    class="ion-ios-navigate"></i></button>
        </mat-form-field>
        <input type="file" name="file" id="file" class="inputfile" ng2FileSelect [uploader]="uploader" onFileSelected=""
            multiple />
        <label ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" class="my-drop-zone" for="file"><i class="ion-ios-upload-outline"></i>Upload
            or drag & drop files (5mb)</label>
        <ul class="filesList">
            <li *ngFor="let item of uploader.queue">
                <span>{{ item?.file?.name }}</span>
                <span type="button" (click)="item.remove()">
                    <i class="ion-android-cancel"></i>
                </span>
            </li>
        </ul>


    </form>
    <div class="successPopover" [ngClass]="{messageActive: successPopover}">Mesasge was sent successfully</div>
    <div class="errorPopover" [ngClass]="{messageActive: errorText}">{{errorText}}</div>
    <!--/form-->
</div>